<% include layout/header %>
<div id="business-pay" class="col-md-12 col-sm-12 col-xs-12">
<section class="business-secn-a">
        <div id="business-bannrimg" class="col-md-12 col-sm-12 col-xs-12"></div>
        <div class="businesbnner">
        <div class=" container">
            <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 busineleftdiv"></div>
        <div id="business-banncont" class="col-md-6 col-sm-6 col-xs-12">            
            <div id="busines-bannhead" class="col-md-12 col-sm-12 col-xs-12">
                PayAlt Partners
            </div>            
            <div id="busines-banninr" class="col-md-12 col-sm-12 col-xs-12">
                We are now offering two ways to partner with PayAlt, offering your customers the ease of our cryptocurrency payment services in ways that are tailored to suit your unique business.
            </div>
            <div id="busines-register" class="col-md-12 col-sm-12 col-xs-12">
                <a href="/how-payalt-works"><button>Learn more</button></a>
            </div>
        </div>
        </div>
            </div>
        </div>
</section>
<section class="business-secn-b">
    <div class="container">
    <div id="business-crdprogrm" class="col-md-12 col-sm-12 col-xs-12">
        <div class="row col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6 busi-affiliate"><span>Affiliates</span></div>
            <div class="col-md-6 col-sm-6 col-xs-6 busi-exchage"><span>Exchange</span></div>            
        </div>        
        <div class="col-md-12 col-sm-12 col-xs-12 busicrdpgm-2head">
            Crypto Bill Pay and Shopping Software
        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12 busicrdpgm-2cont"> 
            <div class="col-md-6 col-sm-6 col-xs-6 busicrdpgm-2contleft">
                PayAlt’s simple turn-key software gives your company a fully functional, internationally accepted, real-time Crypto Bill Pay & Shopping service without complex regulatory requirements and licensing. If you have a business that could benefit by offering simple, secure and universal crypto bill pay and shopping, we offer white labelled integration of our software. Make it easy for your clients to convert and spend their crypto in real-time with no restrictions
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 busicrdpgm-2contright">
                <ul>
                    <li>Expand your user base to shoppers paying with cryptocurrency (e.g. crypto rebate and shopping reward programs).</li>
                    <li>Enhance your services allowing users to shop and pay bills using crypto anywhere instantaneously.</li>
                    <li>Fully compliant in United States, EU, South East Asia and more.</li>
                    <li>Works with browser extensions such as Lolli, PaywithMoon, Fold and more.</li>
                    <li>No/low cost licensing fees.</li>
                    <li>Turn-key, white label system which requires virtually no integration.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 busicrdpgm-2button">
            <a href="/contact"><button>Sign up to learn more</button></a>
        </div>        
        <hr class="businehr" />        
        <div class="col-md-12 col-sm-12 col-xs-12 busicrdpgm-1head">
            Crypto Debit Card Program - coming soon
        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12 busicrdpgm-1cont"> 
            <!--<div class="col-md-6 col-sm-6 col-xs-6 busicrdpgm-1contleft">
                Our simple turn-key service gives your Exchange a fully functional crypto debit card program without complex regulatory requirements and licensing. Your clients can choose to receive a physical card, upload a virtual card to their phone's wallets, use the crypto Shopping Browser or all of the above. Make it easy for your clients to convert and spend their crypto in real-time with no restrictions.
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 busicrdpgm-1contright">
                <ul>
                    <li>Offer your clients a US dollar crypto debit card program without the burden of regulatory oversight and licensing.</li>
                    <li>No/low setup fees and maintenance costs.</li>
                    <li>Reduce withdrawal amounts when clients cash out.</li>
                    <li>All Exchange tokens can be accepted.</li>
                    <li>Fraud prevention and secure transactions.</li>
                </ul>
            </div>-->
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 busicrdpgm-1button">
            <a href="/contact"><button>Sign up to learn more</button></a>
        </div>                        
    </div>
</div>
</section>    
</div>
<style>
    #business-pay
    {
        padding-left:0px;
        padding-right:0px;
    }
    #business-bannrimg
    {
        height:500px;
        background-image: url('images/partners_1400x455.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }    
    .businesbnner
    {
        position: absolute;
        top:0px;
        width: 100%;
    }
    #business-banncont
    {
        background: rgba(229,229,229,0.9);
        height: 500px;
        padding: 11% 0px 13% 0px;
    }
    #busines-bannhead
    {
        text-align: center;
        font-family: Montserrat-SemiBoldItalic;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 6%;
    }
    #busines-banninr
    {
        text-align: center;
        width: 90%;
        margin: auto;
    }
    #busines-register a button
    {
        background:#55cac2;
        color: #fff;
        text-transform: uppercase;
        border: none;        
        padding: 11px 0px;
        width: 90%;
        margin-top: 8%;
        font-family: Montserrat-SemiBoldItalic;
        font-size: 22px;
        cursor: pointer;
    }
    #busines-register
    {
        text-align: center;
    }
    .busi-exchage,
    .busi-affiliate
    {
        text-align: center;
        font-family: Montserrat-SemiBoldItalic;
        font-size: 25px;
        color: #55cac2;
        text-transform: uppercase;
    }
    .business-secn-b
    {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .busicrdpgm-1head
    {
        text-align: center;
        font-family: Montserrat-SemiBoldItalic;
        font-size: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .busicrdpgm-1contright ul li
    {
        margin-bottom: 10px;
    }
    .busicrdpgm-1button a button
    {
        background:#55cac2;
        color: #fff;
        text-transform: uppercase;
        border: none;        
        padding: 11px 0px;
        width: 470px;
        margin-top: 4.5%;
        font-family: Montserrat-SemiBoldItalic;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
    }
    .busicrdpgm-1button
    {
        text-align:center;        
    }
    
    .busicrdpgm-2head
    {
        text-align: center;
        font-family: Montserrat-SemiBoldItalic;
        font-size: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .busicrdpgm-2contright ul li
    {
        margin-bottom: 10px;
    }
    .busicrdpgm-2button a button
    {
        background:#55cac2;
        color: #fff;
        text-transform: uppercase;
        border: none;        
        padding: 11px 0px;
        width: 470px;
        margin-top: 4.5%;
        font-family: Montserrat-SemiBoldItalic;
        font-size: 22px;
        margin-bottom: 4%;
        font-weight: 600;
        cursor: pointer;
    }
    .busicrdpgm-2button
    {
        text-align:center;
    }
    .businehr
    {
        border:1.5px solid rgba(0,0,0,.1);
        margin-top: 3%;
    }
    .busi-exchage span,
    .busi-affiliate span
    {
        cursor: pointer;
    }    
</style>
<script>
    $(document).on("click",".busi-exchage span",function(){
         $('html, body').animate({
        scrollTop: $(".busicrdpgm-1head").offset().top - 130
    }, 1000);
    });
    $(document).on("click",".busi-affiliate span",function(){
         $('html, body').animate({
        scrollTop: $(".busicrdpgm-2head").offset().top - 130
    }, 1000);
    });
</script>
<% include layout/footer %>