<% include layout/header %>
<div class="banner-privacy">
    <div class="bannerheadpos">
        <h1 class="colorwhite">Copyright Policy</h1>
    </div>
</div>
<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12 padleft0 padright0 padtop20 padbottom20">
        <div><strong>Reporting Claims of Copyright Infringement</strong></div><br/>
        <div>We take claims of copyright infringement seriously. We will respond to notices of alleged copyright infringement that comply with applicable law. If you believe any materials accessible on or from this site (the "<strong>Website</strong>") infringe your copyright, you may request removal of those materials (or access to them) from the Website by submitting written notification to our copyright agent designated below. In accordance with the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act (17 U.S.C. § 512) ("<strong>DMCA</strong>"), the written notice (the "<strong>DMCA Notice</strong>") must include substantially the following:</div><br/>
        <ul class="ullist">
        <li>Your physical or electronic signature.</li>
        <li>Identification of the copyrighted work you believe to have been infringed or, if the claim involves multiple works on the Website, a representative list of such works.</li>
        <li>Identification of the material you believe to be infringing in a sufficiently precise manner to allow us to locate that material.</li>
        <li>Adequate information by which we can contact you (including your name, postal address, telephone number, and, if available, email address).</li>
        <li>A statement that you have a good faith belief that use of the copyrighted material is not authorized by the copyright owner, its agent, or the law.</li>
        <li>A statement that the information in the written notice is accurate.</li>
        <li>A statement, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</li>
        </ul>
        <h4>Our designated copyright agent to receive DMCA Notices is:</h4>
        <div style="padding-left: 5%;">
Compliance Officer<br/>
PayAlt Corp.<br/>
108 West 13th Street<br/>
Wilmington, DE 19801<br/>
compliance@payalt.com<br/>
</div><br/>
<div>If you fail to comply with all of the requirements of Section 512(c)(3) of the DMCA, your DMCA Notice may not be effective. Please be aware that if you knowingly materially misrepresent that material or activity on the Website is infringing your copyright, you may be held liable for damages (including costs and attorneys’ fees) under Section 512(f) of the DMCA.</div><br/>

<strong>Repeat Infringers</strong><br/>
<div>It is our policy in appropriate circumstances to disable and/or terminate the accounts of users who are repeat infringers.</div><br/>
        
    </div>
</div>
<style type="text/css">
ul.ullist{
    line-height: 30px;
}
ul.ullist li{
    margin-bottom: 15px;
}
</style>
<% include layout/footer %>