<% include layout/header %>
<div class="resheight-top" style=""></div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div><h4 class="fweight" style="text-align:center;padding-top:20px;">FAQ</h4></div>
    <div class="faqsecpad">

        <div class="container">
            <div class="row ">   
                <div class="col-lg-2 col-md-12  col-xs-12 resfnt resborder">
                    <h5 class="site-head-clr about-paylt"><a>ABOUT PAYALT</a></h5>
                    <!--<h5 class="site-head-clr in-store"><a>IN-STORE SHOPPING</a></h5>
                    <h5 class="site-head-clr appsrec"><a>APPS AND RECURRING PAYMENTS</a></h5>-->
                    <h5 class="site-head-clr online-shp"><a>ONLINE SHOPPING</a></h5>
                    <h5 class="shp-policy site-head-clr txttransform"><a>Shopper Policies</a></h5>
                    <h5 class="target-business site-head-clr txttransform"><a>Business / Licensing</a></h5>
                </div>

                <div class="col-lg-9 col-md-12  col-xs-12 respfnt">
                    <!--<section id="about-paylt">
                        <h5 class="site-head-clr about-paylt padb "><a>ABOUT PAYALT</a></h5>
                        <div>
                            <strong> Q: </strong> What is PayAlt?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong> PayAlt's Shopping Browser facilitates real-time transactions between virtual wallets and any merchant's point of sale systems.
                        </div>
                        <div>
                            <strong> Q: </strong> How does PayAlt work?
                        </div>
                        <div class="padtbhead">
                            <p> <strong>A: </strong> Online – Our patent pending technology converts your virtual currency into a credit card at checkout; then pays the merchant.</p> 
                            <p> <strong>A: </strong> In-store – Coming Soon </p> 
                        </div>
                        <div>
                            <strong> Q: </strong>Are there fees?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Fees are included in the conversion rate.
                        </div>
                        <div>
                            <strong> Q: </strong>Do you offer a white label version of PayAlt's Shopping Browser? 
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong> Yes, we offer a white label version of our Shopping Browser, allowing any business to offer their clients the ability to shop with cryptocurrency anywhere online in real-time. For information about licensing our Virtual Wallet Shopping Browser, <a href="/business">click here</a>. 
                        </div>
                        <div>
                            <strong> Q: </strong>Does PayAlt offer a crypto debit card program for Exchanges?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>PayAlt is currently building a white label crypto debit card program for Exchanges and Wallets. This program will work in conjunction with our Shopping Browser allowing your users to both shop online or in-person using crypto. <a href="">Click here </a> to receive program updates.
                        </div>
                        <div>
                            <strong> Q: </strong>Do transactions happen in real-time?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Accounts sync'd to your Exchange happen in real-time. If you have not sync'd your account, it takes up to 3 hours to convert your crypto into a preloaded crypto credit card. Avoid the wait and <a href="">sync your account</a>  now. 
                        </div>
                        <div>
                            <strong> Q: </strong>What Exchanges does PayAlt sync with?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Currently, we sync with Coinbase. Additional Exchanges will be added shortly. Want to have your exchange sync'd with PayAlt for instant crypto payments too?<a href="/contact"> Tell us </a> .
                        </div>
                        <div>
                            <strong> Q: </strong>I can't sync my account, how do I preload a crypto credit card?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>You only need to preload your crypto credit card if you can't sync your account. To preload your crypto credit card, click <a class="shopnow_lnk" href="https://somiworks.cameyo.com/apps/11026488070783/play"> "Shop" </a> at PayAlt.com. Login to the Shopping Browser and click "Preload Crypto Credit Card" in top left corner of the screen (look for the cash register icon).  Enter how much you want to preload and click "Convert". Either scan the QR code or use the wallet ID to manually send crypto for conversion. You will receive an email when the crypto credit card is ready. This can take up to 3 hours. 
                        </div>
                        <div>
                            <strong> Q: </strong>How do I use a preloaded crypto debit card once it is ready?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Once your crypto credit card is ready, login to <a class="shopnow_lnk" href="https://somiworks.cameyo.com/apps/11026488070783/play">Shopping Browser</a> and shop like normal. At checkout, click "Pay" button at the bottom of your screen. Confirm the checkout amount is correct and click "Convert". We will instantly create a crypto credit card and input it as your payment method. 
                        </div>
                        <div>
                            <strong> Q: </strong>What do I do if I didn't preload enough money to my crypto credit card?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>If your payment amount is greater than what you converted, click "Preload Crypto Credit Card" again. The additional converted money will be added to your existing Crypto Credit Card balance. This may take up to 3 hours to complete.  
                        </div>
                        <div>
                            <strong> Q: </strong>Why do manual transfers take up to 3 hours when sync'd accounts allow for Instant Shopping?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Manual transfers require multiple blockchain confirmation before conversion can be completed. Sync'd transactions don't require blockchain confirmation and happen immediately. 
                        </div>
                        <div>
                            <strong> Q: </strong>What Exchanges does PayAlt sync with for Instant Payments?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Currently PayAlt is sync'd with Coinbase. We are in the process of adding additional Exchanges. Want to have your exchange sync'd with PayAlt for instant crypto payments too? <a href="">Tell us</a>
                        </div>
                        <div>
                            <strong> Q: </strong>What wallets can I use?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>PayAlt works with any crypto wallet. However for instant payments, you must sync your PayAlt account with your Exchange.<a href=""> Click here </a>for a list of Exchanges PayAlt can sync with. 
                        </div>
                        <div>
                            <strong> Q: </strong>What crypto currency can I use to shop and pay bills? 
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>PayAlt accepts Bitcoin, Ethereum and Litecoin. However Exchanges that license our Shopping Browser can add additional coins of their choice. 
                        </div>
                        <div>
                            <strong> Q: </strong>Can I shop and pay bills internationally?
                        </div>
                        <div class="padtb">
                            <strong>A: </strong>Yes, PayAlt can be used internationally both online and in-store. As long as the merchant accepts credit cards, they accept PayAlt. 
                        </div>
                        <hr style="border: none;height: 2px;background: rgba(0,0,0,.1)">
                    </section>

                    <section class="in-storeplt">
                        <h5 class="site-head-clr  padtb"><a>IN-STORE SHOPPING (Coming Soon)</a></h5>
                        <div class=""></div>
                        <hr style="border: none;height: 2px;background: rgba(0,0,0,.1)">
                    </section>    
                    <section  id="appsrec">   
                        <div class=""> <h5  class=" site-head-clr txttransform padtb">Apps and Recurring Payments</h5></div>
                        <div class="">
                            <strong> Q: </strong>Can I use PayAlt for recurring billing like Uber or subscriptions?
                        </div>
                        <div class="padtb">
                            <strong>A: </strong>PayAlt creates one-time use crypto credit cards. They cannot be used repeatedly for subscriptions or recurring billing. We will be issuing reloadable and multi-use cards for recurring billing in the future. 
                        </div>
                        <hr style="border: none;height: 2px;background: rgba(0,0,0,.1)">
                    </section>
                    <section id="online-shops">
                        <div class=""> <h5  class=" site-head-clr txttransform padtb">Online Shopping</h5></div>
                        <div class="">
                            <strong> Q: </strong>How do I shop online with PayAlt?
                        </div>
                        <div class="padtbhead">
                            <p>   <strong>A: </strong>Register and click "Shop". Login to the Shopping Browser and shop like normal. When the website asks for your credit card information, it's time to PayAlt! Press "Pay" at the bottom of your screen and convert your crypto into a credit card within seconds. Your new crypto credit card will automatically be entered into the website for checkout. </p>
                            <p>   <strong>A: </strong>If you are using a preloaded crypto credit card, follow the above steps after your crypto credit card has been created. </p> 
                        </div>
                        <div>
                            <strong> Q: </strong>Do I have to register to us PayAlt?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Yes, you must register in order to access the PayAlt Shopping Browser.
                        </div>
                        <div>
                            <strong> Q: </strong>Do I have to sync PayAlt with my Exchange in order to use it?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>No, you do not have to sync your Exchange with PayAlt. However if you do not sync your account, it takes up to 3 hours to convert your crypto into a preloaded crypto credit card. Preload your card now and go shopping using our Shopping Browser when it's ready! Or sync your account to shop immediately. 
                        </div>
                        <div>
                            <strong> Q: </strong>When do I press the "Pay" button?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>At checkout, when the merchant requests your payment method (eg credit card).
                        </div>
                        <div>
                            <strong> Q: </strong>Can I use PayAlt to send money through PayPal or Western Union?
                        </div>
                        <div class="padtb">
                            <strong>A: </strong>Yes. Just use PayAlt's Shopping Browser to access those websites like normal and when the website requests your credit card information, click "Pay" and follow the prompts.
                        </div>
                        <hr style="border: none;height: 2px;background: rgba(0,0,0,.1)">
                    </section>
                    <section id="shp-policy">
                        <h5  class=" site-head-clr txttransform padtb">Shopper Policies</h5>
                        <div class="">
                            <strong> Q: </strong>How do I handle stopped payments, returns, exchanges, refunds or cancellations?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>PayAlt does not process returns, exchanges, refunds, cancellations or any other aspect of your purchase beyond payment to the merchant. Contact the merchant directly to process any returns. Merchant and vendor policies apply.
                        </div>
                        <div>
                            <strong> Q: </strong>What if the merchant will only return the money to the credit card used at purchase?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Have the merchant return the funds to the credit card used at purchase and we will preload a new crypto credit card for you to use as soon as the funds arrive. 
                        </div>
                        <div>
                            <strong> Q: </strong>Do I have to sync my Exchange with PayAlt?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>You do not have to sync your Exchange with PayAlt. All transactions can be completed manually using QR codes or wallet addresses. However to make purchases and pay bills in real-time, you need to sync your Exchange with PayAlt. Only sync'd accounts do not require blockchain confirmation.
                        </div>
                        <div>
                            <strong> Q: </strong>Do I have to provide personal information to register with PayAlt?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Currently, we only request your billing address (that will be connected to the credit card used for your purchases), if you are over 18 and your name. These requirements may change in the near future.
                        </div>
                        <div>
                            <strong> Q: </strong>Is there a spending limit?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>There are no daily or monthly spending limits. Single purchase spending limit is $25,000 per transaction.
                        </div>
                        <div>
                            <strong> Q: </strong>How do you calculate the conversion rate for payments?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Rates are automatically calculated through either our point of sale service or your Exchange. You will see the current conversion rates before converting your crypto to a credit card. This conversion rate includes all fees. 
                        </div>
                        <div>
                            <strong> Q: </strong>How can I get my Exchange/Wallet signed up with PayAlt?
                        </div>
                        <div class="padtb">
                            <strong>A: </strong>a. Email them and tell them to register with PayAlt. You can also <a href="/contact">click here</a> and tell us which Exchange you would like to see added to our list next.
                        </div>
                        <hr style="border: none;height: 2px;background: rgba(0,0,0,.1)">
                    </section>
                    <section id="target-business">
                        <h5  class="site-head-clr txttransform padtb"> Business/Licensing</h5>
                        <div class="">
                            <strong> Q: </strong>Does PayAlt white label or license their Virtual Wallet Shopping Browser? 
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Yes, PayAlt licenses our Shopping Browser to a variety of business including crypto bill payment services, crypto rebate/reward programs and crypto specialty shopping websites. The program is compliant with US, European and Asia regulations and provides a low-cost, turn-key program without the regulatory oversight. 
                        </div>
                        <div>
                            <strong> Q: </strong>Can we use our company's browser extension with PayAlt's Shopping Browser?
                        </div>
                        <div class="padtb">
                            <strong>A: </strong>Yes, if your company uses browser extensions, such as rebate extension, they can be integrated in PayAlt's Shopping Browser.
                        </div>
                    </section>--->
                    <section id="about-paylt">
                        <h5 class="site-head-clr about-paylt padb "><a>ABOUT PAYALT</a></h5>
                        <div>
                            <strong> Q: </strong> What is PayAlt?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong> PayAlt's crypto bill pay software allows real-time transactions between virtual wallets and a merchant's existing point of sale system.
                        </div>
                        <div>
                            <strong> Q: </strong> How does PayAlt work?
                        </div>
                        <div class="padtbhead">
                            <p> <strong>A: </strong> Online – PayAlt converts your virtual currency into a prepaid VISA at checkout; then pays the merchant.</p> 
                            <p style="margin-bottom: 0px;"> <strong>A: </strong> Prepaid VISA Generator – PayAlt also allows you to convert and load a single-use prepaid virtual VISA. Load as much as you like and use it wherever VISA is accepted.</p> 
                        </div>
                        <div>
                            <strong> Q: </strong>Where can I use PayAlt? 
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong> Anywhere VISA is accepted online. 
                        </div>                        
                        <div>
                            <strong> Q: </strong>Are there fees?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Fees are included in the conversion.
                        </div>
                        <div>
                            <strong> Q: </strong>Do transactions happen in real-time?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Yes. Everything happens within seconds. 
                        </div>
                        <div>
                            <strong> Q: </strong>What Exchanges does PayAlt sync with?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>PayAlt is able to sync with any Exchange. However, individuals using PayAlt’s website can only sync with Coinbase. PayAlt business partners can set the bill pay software to sync with any Exchange or wallet. 
                        </div>
                        <div>
                            <strong> Q: </strong>What wallets can I use?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Individuals using PayAlt’s website can only use the Coinbase wallet. PayAlt business partners can setup the bill pay software to accept any wallet.
                        </div>
                        <div>
                            <strong> Q: </strong>I don't have a Coinbase account, when will you add more Exchanges?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Additional Exchanges will be added soon. For businesses licensing our bill pay software, you can setup the bill pay software to work with any Exchange.
                        </div>
                        <div>
                            <strong> Q: </strong>What crypto currency can I use to shop and pay bills?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Bitcoin, Bitcoin Cash, Ethereum and Litecoin.
                        </div>
                        <div>
                            <strong> Q: </strong>What currency is used to make payments to merchants?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>All payments are made using USD (US Dollar). However, PayAlt business partners can set the bill pay software to any currency. 
                        </div>
                        <hr style="border: none;height: 2px;background: rgba(0,0,0,.1)">
                    </section>

                    <!--<section class="in-storeplt">
                        <h5 class="site-head-clr  padtb"><a>IN-STORE SHOPPING (Coming Soon)</a></h5>
                        <div class=""></div>
                        <hr style="border: none;height: 2px;background: rgba(0,0,0,.1)">
                    </section>    
                    <section  id="appsrec">   
                        <div class=""> <h5  class=" site-head-clr txttransform padtb">Apps and Recurring Payments</h5></div>
                        
                        <hr style="border: none;height: 2px;background: rgba(0,0,0,.1)">
                    </section>-->
                    <section id="online-shops">
                        <div class=""> <h5  class=" site-head-clr txttransform padtb">Online Shopping</h5></div>
                        <div>
                            <strong> Q: </strong> How do I shop online with PayAlt?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong> Register and click "Shop/Bill Pay". When the google webpage opens, use the browser and shop like normal. When you’re ready to pay with crypto at checkout, it's time to PayAlt! Press "Pay" at the bottom of your screen and convert your crypto into a prepaid VISA within seconds. Your new prepaid VISA will automatically be entered into the website for checkout.
                        </div>
                        <div>
                            <strong> Q: </strong>How do I create a virtual prepaid VISA to shop later with?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Would you rather load a prepaid VISA and directly use it yourself? We offer a single-use, virtual prepaid VISA. To create one, click “Shop”. When the google webpages opens, click the cash register icon in the top left side of the screen. Follow the instructions, load funds and create a one-time use prepaid Visa in seconds. The cash register will show your card balance. Add funds and create a new one as needed.
                        </div>
                        <div>
                            <strong> Q: </strong>Do I have to register to us PayAlt?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Yes, you must register in order to access the PayAlt crypto bill pay software or the virtual prepaid VISA generator.  
                        </div>
                        <div>
                            <strong> Q: </strong>When do I press the "Pay" button?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>At checkout, when the merchant requests your credit card number.
                        </div>
                        <hr style="border: none;height: 2px;background: rgba(0,0,0,.1)">
                    </section>
                    <section id="shp-policy">
                        <h5  class=" site-head-clr txttransform padtb">Shopper Policies</h5>
                        <div>
                            <strong> Q: </strong>Are there spending limits? 
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Some merchants may limit prepaid VISA transaction amount; however, our limit is $25,000 (USD) per single purchase. You can make as many purchases as you like. 
                        </div>
                        <div>
                            <strong> Q: </strong>How do I handle stopped payments, returns, exchanges, refunds or cancellations?
                        </div>
                        <div class="padtb">
                            <strong>A: </strong>PayAlt does not process returns, exchanges, refunds, cancellations or any other aspect of your purchase beyond payment to the merchant. Contact the merchant directly to process any returns. Merchant and vendor policies apply.
                        </div>
                        <div>
                            <strong> Q: </strong>What if the merchant only gives refunds to the credit card used for the purchase/payment?  
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Have the merchant return the funds to the prepaid VISA on file and once the funds arrive, a new prepaid VISA will be created for you. 
                        </div>
                        <div>
                            <strong> Q: </strong>How do you calculate the conversion rate for payments?
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Rates are automatically calculated through our point of sale service. You will see the current conversion rates before authorizing a payment. 
                        </div>
                        <hr style="border: none;height: 2px;background: rgba(0,0,0,.1)">
                    </section>
                    <section id="target-business">
                        <h5  class="site-head-clr txttransform padtb"> Business/Licensing</h5>
                        <div class="">
                            <strong> Q: </strong>Does PayAlt license our crypto bill pay software? 
                        </div>
                        <div class="padtbhead">
                            <strong>A: </strong>Yes, we license our software to a variety of businesses including (but not limited to) crypto bill payment services, crypto Exchanges, crypto rebate/reward programs and crypto specialty shopping websites. The bill pay software is compliant with US, European and Asia regulations and provides a low-cost, turn-key program without the regulatory oversight.
                        </div>
                        <div>
                            <strong> Q: </strong>Can we use our company's browser extension with PayAlt's Shopping Browser?
                        </div>
                        <div class="padtb">
                            <strong>A: </strong>Yes, if your company uses browser extensions, such as rebate extension, they can be used along with our crypto bill pay software.
                        </div>
                    </section>
                </div>
            </div>  
        </div>
    </div>   
</div>
<% include layout/footer %>
<script>
    $(document).ready(function () {
        $('.online-shp').click(function () {
            var window_width = $(window).width();
            if (window_width <= 1199 && window_width >= 992) {
                $('html, body').animate({
                    scrollTop: $("#online-shops").offset().top - 180
                }, 500)
            } else if (window_width <= 991 && window_width >= 320) {
                $('html, body').animate({
                    scrollTop: $("#online-shops").offset().top - 95
                }, 500)
            } else {
                $('html, body').animate({
                    scrollTop: $("#online-shops").offset().top - 180
                }, 500)
            }
        });

        $('.in-store').click(function () {
            var window_width = $(window).width();
            if (window_width <= 1199 && window_width >= 992) {
                $('html, body').animate({
                    scrollTop: $(".in-storeplt").offset().top - 180
                }, 500)
            } else if (window_width <= 991 && window_width >= 320) {
                $('html, body').animate({
                    scrollTop: $(".in-storeplt").offset().top - 90
                }, 500)
            } else {
                $('html, body').animate({
                    scrollTop: $(".in-storeplt").offset().top - 180
                }, 500)
            }
        });

        $('.appsrec').click(function () {
            var window_width = $(window).width();
            if (window_width <= 1199 && window_width >= 992) {
                $('html, body').animate({
                    scrollTop: $("#appsrec").offset().top - 180
                }, 500)
            } else if (window_width <= 991 && window_width >= 320) {

                $('html, body').animate({
                    scrollTop: $("#appsrec").offset().top - 90
                }, 500)
            } else {
                $('html, body').animate({
                    scrollTop: $("#appsrec").offset().top - 180
                }, 500)
            }
        });

        $('.target-business').click(function () {
            var window_width = $(window).width();
            if (window_width <= 1199 && window_width >= 992) {
                $('html, body').animate({
                    scrollTop: $("#target-business").offset().top - 180
                }, 500)
            } else if (window_width <= 991 && window_width >= 320) {
                $('html, body').animate({
                    scrollTop: $("#target-business").offset().top - 90
                }, 500)
            }
            else {
                $('html, body').animate({
                    scrollTop: $("#target-business").offset().top - 180
                }, 500)
            }
        });
        $('.shp-policy').click(function () {
            var window_width = $(window).width();
            if (window_width <= 1199 && window_width >= 992) {
                $('html, body').animate({
                    scrollTop: $("#shp-policy").offset().top - 180
                }, 500)
            } else if (window_width <= 991 && window_width >= 320) {
                $('html, body').animate({
                    scrollTop: $("#shp-policy").offset().top - 90
                }, 500)
            }
            else {
                $('html, body').animate({
                    scrollTop: $("#shp-policy").offset().top - 180
                }, 500)
            }
        });
        $('.about-paylt').click(function () {
            var window_width = $(window).width();
            if (window_width <= 1199 && window_width >= 992) {
                $('html, body').animate({
                    scrollTop: $("#about-paylt").offset().top - 180
                }, 500)
            } else if (window_width <= 991 && window_width >= 320) {
                $('html, body').animate({
                    scrollTop: $("#about-paylt").offset().top - 90
                }, 500)
            }
            else {
                $('html, body').animate({
                    scrollTop: $("#about-paylt").offset().top - 180
                }, 500)
            }
        });
    });
</script>   

<style>
    .site-head-clr{color:#55cac2;font-weight:600; font-family: Montserrat-SemiBoldItalic;}
    .faqsecpad{padding-top: 2%;padding-bottom: 2%;}
    .padtb{padding-top: 20px;padding-bottom:20px;}
    .fweight{font-weight: 600;}
    .txttransform{text-transform: uppercase;}
    .padb{padding-bottom: 20px;}
    .padtbhead{padding-top: 20px;padding-bottom:30px;}
    .resfnt h5{font-size: 16px;}

    @media(max-width:1199px) and (min-width:992px){

        .resfnt h5 {font-size: 17px;}
        .respfnt div {font-size: 14px;}
    }
    @media(max-width:991px) and (min-width:320px){    
        .resborder {
            padding: 20px 20px 20px 10px;
            border: solid 2px rgba(0,0,0,.1);
            margin-bottom: 20px;        
        }   
        .resfnt h5{margin-bottom: 15px;}
        .resfnt h5:last-child{margin-bottom: 0px;}
        .resfnt h5 a {border-bottom: solid 1px }
    }
    @media(max-width:500px) and (min-width:320px){
        .resfnt h5, .respfnt h5{font-size: 17px;}
    }
    .respfnt a {color:#55cac2;}
</style>