<% include layout/login_header %>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/sweetalert.js"></script>
    <link rel="stylesheet" href="js/sweetalert.min.css" />    
    <div class="modal" id="forgot_box" tabindex="-1" role="dialog" aria-labelledby="paytransModalLabel" aria-hidden="true">
        <div class="modal-content" style="max-width: 560px !important;">
            <div class="modal-header">
                <img src="images/payalt_login_logo.png" style="margin: 0 auto;padding: 40px 0;"/>
            </div>
            <div class="content modal-body" id="register_bx">
                <form action="" method="post" id="forgot_form" style="min-width: auto;">
                    <input type="hidden" name="forgot_id" id="forgot_id" value=""/>
                    <div class="forgot_pass_1">                        
                        <div class="uname_box">
                            <div class="mb-3 text-left">Enter your registered Email Address</div>
                            <input type="text" class="input newtxtbox wid100imp" id="forgot_email" name="forgot_email" placeholder="Email Address" required value="">
                        </div>
                        <div class="row pt-3 mt-4">
                            <div class="col-6 text-left">
                                <button type="button" name="back_login_forgot" id="back_login_forgot" class="cancel_button" style="width: auto;">Back to Login</button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" name="forgot_button" id="forgot_button" class="orange_button forgot_button" style="width: 150px;">Send Code</button>
                            </div>
                        </div>
                    </div>
                    <div class="forgot_pass_2" style="display: none;">
                        <div class="uname_box">
                            <div class="mb-3 text-left">Enter the Password Reset Code Sent to Your Email Address</div>
                            <input type="text" class="input newtxtbox wid100imp" id="forgot_code" name="forgot_code" placeholder="Enter the code" required value="">
                        </div>
                        <div class="row pt-3 mt-4">
                            <div class="col-6 text-left">
                                <button type="button" name="back_forgot1" id="back_forgot1" class="cancel_button" style="width: auto;">Back</button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" name="forgot_button2" id="forgot_button2" class="orange_button forgot_button" style="width: 150px;">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                    <div class="forgot_pass_3" style="display: none;">
                        <div class="uname_box">
                            <div class="mb-3 text-left">Set your Password</div>
                            <input type="password" class="input newtxtbox wid100imp" id="password_one" name="password_one" placeholder="Enter Password" required value="">
                        </div>
                        <div class="uname_box mt-1">
                            <input type="password" class="input newtxtbox wid100imp" id="password_two" name="password_two" placeholder="Enter Password again" equalTo="#password_one" required value="">
                        </div>
                        <div class="row pt-3 mt-4">
                            <div class="col-6 text-left">
                                <button type="button" name="cancel_forgot" id="cancel_forgot" class="cancel_button" style="width: auto;">Cancel</button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" name="forgot_button3" id="forgot_button3" class="orange_button forgot_button" style="width: 200px;">Set Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-absfooter">
            <div>&copy; 2020 PAYALT</div>
            <div class="modalfootericons mt-3 mb-2">
                <a href="https://www.linkedin.com/company/payalt" target="_blank"><img src="images/linkedin_icon.png"/></a>
                <a href="https://www.instagram.com/payalt_official/" target="_blank"><img src="images/insta_icon.png"/></a>
                <a href="https://www.facebook.com/payaltofficial/" target="_blank"><img src="images/fb_icon.png"/></a>
            </div>
        </div>
    </div>
    <script>
    jQuery(document).ready(function(){
        $('#forgot_box').modal({
            backdrop: 'static',
            keyboard: false,
            show: true
        });
    });
    jQuery(document).on("click","#login_shopping",function(){
        var valid = $("#login_form").valid();
        if(valid){
            if ($('#remember_me').prop('checked') == true) {
                var username = $('#login_box #username').val();
                var password = $('#login_box #password').val();
                localStorage.setItem('username', username);
                localStorage.setItem('password', password);
                localStorage.setItem('remember', true);
            } else {
                localStorage.removeItem('username');
                localStorage.removeItem('password');
                localStorage.removeItem('remember');
            }
            $("#login_form").submit();
        }
    });
    $(document).on("click","#back_login_forgot",function(e){
        window.location.href="/login";
    });
    $(document).on("click","#forgot_button",function(e){
        var valid = $("#forgot_form").valid();
        if(valid == true){
            $(".overlayloading,.overlaymain").show();
            $("#forgot_button").html("Processing...").attr("disabled",true);
            $.ajax({
                url: '<%=process.env.SITE_URL%>/trans/app_forgotpassword',
                data: $("#forgot_form").serialize(),
                type: 'POST',
                success: function (data) {
                    $("#forgot_button").html("Send Code").removeAttr("disabled");
                    $(".overlayloading,.overlaymain").hide();
                    if(data.msg == "success"){
                        $(".forgot_pass_1").hide();
                        $(".forgot_pass_2").show();
                        $("#forgot_id").val(data.record_id);
                    } else if(data.msg == "error"){
                        swal("",data.err_msg,"error");
                    }
                },
                error: function (err) {
                    $("#forgot_button").html("Send Code").removeAttr("disabled");
                    $(".overlayloading,.overlaymain").hide();
                    swal("","Error in resetting password.  Try again later","error");
                }
            });
        }
    });
    $(document).on("click","#forgot_button2",function(e){
        var valid = $("#forgot_form").valid();
        if(valid == true){
            $(".overlayloading,.overlaymain").show();
            $("#forgot_button2").html("Processing...").attr("disabled",true);
            $.ajax({
                url: '<%=process.env.SITE_URL%>/trans/app_forgotpassword_check',
                data: $("#forgot_form").serialize(),
                type: 'POST',
                success: function (data) {
                    $("#forgot_button2").html("SUBMIT").removeAttr("disabled");
                    $(".overlayloading,.overlaymain").hide();
                    if(data.msg == "success"){
                        $(".forgot_pass_2").hide();
                        $(".forgot_pass_3").show();
                    } else if(data.msg == "error"){
                        swal("",data.err_msg,"error");
                    }
                },
                error: function (err) {
                    $("#forgot_button2").html("SUBMIT").removeAttr("disabled");
                    $(".overlayloading,.overlaymain").hide();
                    swal("","Error in resetting password.  Try again later","error");
                }
            });
        }
    });
    $(document).on("click","#forgot_button3",function(e){
        var valid = $("#forgot_form").valid();
        if(valid == true){
            $(".overlayloading,.overlaymain").show();
            $("#forgot_button3").html("Processing...").attr("disabled",true);
            $.ajax({
                url: '<%=process.env.SITE_URL%>/trans/app_forgotpassword_set',
                data: $("#forgot_form").serialize(),
                type: 'POST',
                success: function (data) {
                    $("#forgot_button3").html("Set Password").removeAttr("disabled");
                    $(".overlayloading,.overlaymain").hide();
                    if(data.msg == "success"){
                        swal("",data.succ_msg,"success");
                        setTimeout(function(){
                            window.location.href = "/login";
                        },1500);
                    } else if(data.msg == "error"){
                        swal("",data.err_msg,"error");
                    }
                },
                error: function (err) {
                    $("#forgot_button3").html("Set Password").removeAttr("disabled");
                    $(".overlayloading,.overlaymain").hide();
                    swal("","Error in resetting password.  Try again later","error");
                }
            });
        }
    });
    $(document).on("click","#back_forgot1",function(e){
        $(".forgot_pass_2").hide();
        $(".forgot_pass_1").show();    
    });
    $(document).on("click","#cancel_forgot",function(e){
        window.location.href = "/login";
    });
    </script>
<% include layout/login_footer %>