<% include layout/header %>
<div id="howpayalt" class="col-md-12 col-sm-12 col-xs-12">
    <section class="howpay-secn-a">
        <div id="howpayalt-bannrimg" class="col-md-12 col-sm-12 col-xs-12"></div>
        <div class="howpybnner">
        <div class=" container">
            <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 bnreleftdiv"></div>
        <div id="howpayalt-banncont" class="col-md-6 col-sm-6 col-xs-12">   
            <div class="howpayalt-shppyalt">
            <div id="howpayalt-bannhead" class="col-md-12 col-sm-12 col-xs-12">
                Shop with PayAlt
            </div>            
            <div id="howpayalt-banninr" class="col-md-12 col-sm-12 col-xs-12">
               With PayAlt paying with cryptocurrency is simple, secure and universal. Find out how it works, and get started today!
            </div>
            <div id="howpay-register" class="col-md-12 col-sm-12 col-xs-12">
                <a href="/register"><button>Register now</button></a>
            </div>
            </div>
        </div>
        </div>
            </div>
        </div>
    </section>
    <section class="howpay-secn-b">
        <div id="howpayalt-works" class="col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div id="howpayalt-work-head" class="col-md-12 col-sm-12 col-xs-12">How PayAlt works</div>
                <div class="row col-md-12 col-sm-12 col-xs-12">
                <div id="howpayalt-join" class="col-md-4 col-sm-4 col-xs-12">
                    <img src="images/py-join.png" />
                    <div class="col-md-12 col-sm-12 col-xs-12 howpayalt-join-cont"><span>1</span>Join</div>
                </div>
                <div id="howpayalt-shop" class="col-md-4 col-sm-4 col-xs-12">
                    <img src="images/py-shop.png" />
                    <div class="col-md-12 col-sm-12 col-xs-12 howpayalt-shop-cont"><span>2</span>Shop</div>
                </div>
                <div id="howpayalt-crypto" class="col-md-4 col-sm-4 col-xs-12">
                    <img src="images/py-crypto.png" />
                    <div class="col-md-12 col-sm-12 col-xs-12 howpayalt-crypto-cont"><span>3</span>Pay with crypto</div>
                </div>    
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </section>
    <section class="howpay-secn-c">
    <div id="howpayalt-video" class="col-md-12 col-sm-12 col-xs-12">
        <div class="container">
            <div class="row col-md-12 col-sm-12 col-xs-12 pyatvideo1 paylt-padlr0">
            <div class="col-md-6 col-sm-6 col-xs-6 pyvideo1-left">
                <div class="pyvideo-hed col-md-12 col-sm-12 col-xs-12 paylt-padlr0">How PayAlt Works</div>
                <div class="col-md-12 col-sm-12 col-xs-12 paylt-padlr0">
                    <p>PayAlt, in real-time, converts your crypto into a credit card at checkout allowing you to shop and make payments anywhere VISA is accepted, worldwide.</p> 
                </div>
            </div>            
            <div class="col-md-6 col-sm-6 col-xs-6 pyvideo1-right">
                <a href="images/howpayaltworks/How PayAlt Works.jpg" data-fancybox="images1">
                    <img src="images/howpayaltworks/How PayAlt Works.jpg" style="width: 100%;min-height: 260px;object-fit: contain;"/>
                </a>
            </div>
                <div style="clear:both;"></div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12 pyatvideo2 paylt-padlr0">
                <div class="col-md-6 col-sm-6 col-xs-6 pyvideo2-left mob_disp" style="display:none;">
                    <div class="pyvideo-hed col-md-12 col-sm-12 col-xs-12 paylt-padlr0">How to Pay Bills and Shop online.</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 paylt-padlr0">
                        <p>Register and click "Shop/Bill Pay". When the google webpage opens, use the browser and shop like normal. It's that simple. No downloads, no apps, no browser extensions, no waiting. Works on any browser. Works with any wallet.</p>
                        <a href="/register"><span class="pyltregstrnw">Register Now!</span></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 pyvideo2-left">
                    <div class="owl-carousel">
                        <div><a href="images/howpayaltworks/How to Pay Bills and Shop online1.jpg" data-fancybox="images2"><img src="images/howpayaltworks/How to Pay Bills and Shop online1.jpg" style="width: 100%;min-height: 260px;object-fit: contain;"/></a></div>
                        <div><a href="images/howpayaltworks/How to Pay Bills and Shop online2.jpg" data-fancybox="images2"><img src="images/howpayaltworks/How to Pay Bills and Shop online2.jpg" style="width: 100%;min-height: 260px;object-fit: contain;"/></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 pyvideo2-right mob_hide">
                    <div class="pyvideo-hed col-md-12 col-sm-12 col-xs-12 paylt-padlr0">How to Pay Bills and Shop online.</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 paylt-padlr0">
                        <p>Register and click "Shop/Bill Pay". When the google webpage opens, use the browser and shop like normal. It's that simple. No downloads, no apps, no browser extensions, no waiting. Works on any browser. Works with any wallet.</p>
                        <a href="/register"><span class="pyltregstrnw">Register Now!</span></a>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12 pyatvideo3 paylt-padlr0">
            <div class="col-md-6 col-sm-6 col-xs-6 pyvideo3-left">
                <div class="pyvideo-hed col-md-12 col-sm-12 col-xs-12 paylt-padlr0">Press “Pay”</div>
                <div class="col-md-12 col-sm-12 col-xs-12 paylt-padlr0">
                    <p>When the website asks for your credit card information, it’s time to PayAlt! Press “Pay” at the bottom of your screen and convert your crypto into a credit card within seconds. Your new crypto credit card will automatically be entered into the website checkout.</p> 
                    <a href="/register"><span class="pyltregstrnw">Register Now!</span></a>
                </div>
            </div>            
            <div class="col-md-6 col-sm-6 col-xs-6 pyvideo3-right">
                <div class="owl-carousel">
                    <div><a href="images/howpayaltworks/Press Pay1.jpg" data-fancybox="images3"><img src="images/howpayaltworks/Press Pay1.jpg" style="width: 100%;min-height: 260px;object-fit: contain;"/></a></div>
                    <div><a href="images/howpayaltworks/Press Pay2.jpg" data-fancybox="images3"><img src="images/howpayaltworks/Press Pay2.jpg" style="width: 100%;min-height: 260px;object-fit: contain;"/></a></div>
                    <div><a href="images/howpayaltworks/Press Pay3.jpg" data-fancybox="images3"><img src="images/howpayaltworks/Press Pay3.jpg" style="width: 100%;min-height: 260px;object-fit: contain;"/></a></div>
                    <div><a href="images/howpayaltworks/Press Pay4.jpg" data-fancybox="images3"><img src="images/howpayaltworks/Press Pay4.jpg" style="width: 100%;min-height: 260px;object-fit: contain;"/></a></div>
                    <div><a href="images/howpayaltworks/Press Pay5.jpg" data-fancybox="images3"><img src="images/howpayaltworks/Press Pay5.jpg" style="width: 100%;min-height: 260px;object-fit: contain;"/></a></div>
                </div>
            </div>
                <div style="clear:both;"></div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12 pyatvideo4 paylt-padlr0">
                <div class="col-md-6 col-sm-6 col-xs-6 pyvideo4-left mob_disp" style="display:none;">
                    <!--<div class="pyvideo-hed col-md-12 col-sm-12 col-xs-12 paylt-padlr0">Preload Crypto Credit Card.</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 paylt-padlr0">
                        <p>You only need to preload a crypto credit card if you can’t sync your account. It takes up to 3 hours to convert your crypto into a preloaded crypto credit card. Preload your card now and go shopping when it’s ready!</p> 
                        <a href="/register"><span class="pyltregstrnw">Register Now!</span></a>
                    </div>-->
                    <div class="pyvideo-hed col-md-12 col-sm-12 col-xs-12 paylt-padlr0">Crypto Prepaid VISA.</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 paylt-padlr0">
                        <p>PayAlt offers a prepaid VISA generator that allows you to convert and load a single-use virtual VISA. Load as much as you like and use it wherever VISA is accepted online.</p> 
                        <a href="/register"><span class="pyltregstrnw">Register Now!</span></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 pyvideo4-left">
                    <div><a href="images/howpayaltworks/Crypto Prepaid VISA.jpg" data-fancybox="images4"><img src="images/howpayaltworks/Crypto Prepaid VISA.jpg" style="width: 100%;min-height: 260px;object-fit: contain;"/></a></div>
                </div>            
                <div class="col-md-6 col-sm-6 col-xs-6 pyvideo4-right mob_hide">
                    <!--<div class="pyvideo-hed col-md-12 col-sm-12 col-xs-12 paylt-padlr0">Preload Crypto Credit Card.</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 paylt-padlr0">
                        <p>You only need to preload a crypto credit card if you can’t sync your account. It takes up to 3 hours to convert your crypto into a preloaded crypto credit card. Preload your card now and go shopping when it’s ready!</p> 
                        <a href="/register"><span class="pyltregstrnw">Register Now!</span></a>
                    </div>-->
                    <div class="pyvideo-hed col-md-12 col-sm-12 col-xs-12 paylt-padlr0">Crypto Prepaid VISA.</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 paylt-padlr0">
                        <p>PayAlt offers a prepaid VISA generator that allows you to convert and load a single-use virtual VISA. Load as much as you like and use it wherever VISA is accepted online.</p> 
                        <a href="/register"><span class="pyltregstrnw">Register Now!</span></a>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    </section>
    <section class="howpay-secn-d">
        <div class="container">
        <div id="accptedcrypt" class="row col-md-12 col-sm-12 col-xs-12 paylt-padlr0">
            <div id="accptedhead" class="col-md-12 col-sm-12 col-xs-12">Accepted Cryptocurrency</div>
            <div class="col-md-4 col-sm-4 col-xs-12 accptcy1">
                <div class="cryptb_icon1"></div>
                <div class="cryptb_cont1">Litecoin</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 accptcy2">
                <div class="cryptb_icon2"></div>
                <div class="cryptb_cont2">Bitcoin</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 accptcy3">
                <div class="cryptb_icon3"></div>
                <div class="cryptb_cont3">Ethereum</div>
            </div>
            <div style="clear:both;"></div>
        </div>
        </div>
    </section>
    <section class="howpay-secn-e">
        <div class="container">
            <div id="platfrmmercht" class="row col-md-12 col-sm-12 col-xs-12 paylt-padlr0">
                <div class="platfrmleftdiv col-md-6 col-sm-6 col-xs-12">
                    <div id="payalmercht-left" class="col-md-12 col-sm-12 col-xs-12">
                        <div class="payalmerc-head">
                           <img src="images/storeshop.png"/> 
                           Crypto Debit Card <br> Program - Coming Soon
                        </div>
                        <div class="payalmerc-cont">
                            <!--<p>PayAlt offers Exchanges a fully compliant crypto debit card program and our online Virtual Wallet Shopping Browser. Let your users convert from crypto to fiat instantly for online or in-store <br> purchases.</p>-->
                        </div>
                        <div class="payalmerc-bttn">
                        <a href="/business"><button class="paymercbtn-left">Learn more</button></a>
                        </div>
                    </div>
                </div>
                <div class="platfrmrightdiv col-md-6 col-sm-6 col-xs-12">
                    <div id="payalmercht-right" class="col-md-12 col-sm-12 col-xs-12">
                        <div class="payalmerc-head">
                            <img src="images/help.png"/>
                            Crypto Bill Pay and <br>Shopping Software
                        </div>
                        <div class="payalmerc-cont">
                            Whether you run a wallet, POS service, money transmitter service, crypto reward/rebate program, crypto bill pay services or other blockchain based service; PayAlt offers online and in-person crypto payment solutions tailored to fit your business needs.
                        </div>
                        <div class="payalmerc-bttn">
                        <a href="/business"><button class="paymercbtn-right">Get Started</button></a>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </section>
</div>
<style>   
    #howpayalt-bannrimg
    {
        height:500px;
        background-image: url('images/how-it-works_1400x455.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }    
    #howpayalt .pyvideo1-right video, #howpayalt .pyvideo3-right video, 
    #howpayalt .pyvideo2-left video,#howpayalt .pyvideo4-left video{width:100%;}

    #howpayalt .pyvideo2-left,
    #howpayalt .pyvideo4-left
    {       
       text-align: left;
    }
    
    #howpayalt .pyvideo1-right,
    #howpayalt .pyvideo3-right
    {
       text-align: right;
    }
    
    #howpayalt .pyvideo-hed
    {
        font-weight:600;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 22px;
    }
    .paylt-padlr0
    {
        padding-left:0px;
        padding-right:0px;
    }
    #howpayalt .pyatvideo1
    {
        border-left: 4px solid;
        margin-top:50px;        
    }
    #howpayalt .pyatvideo2
    {        
        margin-top:50px; 
    }
    #howpayalt .pyatvideo3
    {        
        margin-top:50px; 
        border-left:4px solid;
    }
    #howpayalt .pyatvideo4
    {        
        margin-top:50px; 
        margin-bottom: 50px;
    }
    #howpayalt .pyvideo2-left
    {
        border-right:4px solid;
    }    
    #howpayalt .pyvideo4-left
    {
        border-right:4px solid;
    }
    .pyltregstrnw
    {
        display:inline-block;
        padding-top:30px;
        color:#55cac2;
        font-weight:600;
    }
    .howpay-secn-d
    {
        background:#e5e5e5;
        padding-left:0px;
        padding-right:0px;
    }
    #howpayalt
    {
        padding-left:0px;
        padding-right:0px;
    }
    #accptedhead
    {
        text-align: center;        
        font-size: 30px;
        padding-top: 5%;
        padding-bottom: 30px;
        font-family: Montserrat-SemiBoldItalic;
        text-transform: uppercase;
    }
     #howpayalt .cryptb_icon1
    {
        width: 200px;
        height: 200px;
        border: 8px solid #fff;
        border-radius: 50%;
        background-image: url('images/L-coin.png');
        background-repeat: no-repeat;
        background-size: 120px;
        background-position: center;
    }
     #howpayalt .cryptb_icon2
    {
        width: 200px;
        height: 200px;
        border: 8px solid #fff;
        border-radius: 50%;
        background-image: url('images/B-coin.png');
        background-repeat: no-repeat;
        background-size: 120px;
        background-position: center;
    }
     #howpayalt .cryptb_icon3
    {
        width: 200px;
        height: 200px;
        border: 8px solid #fff;
        border-radius: 50%;
        background-image: url('images/E-coin.png');
        background-repeat: no-repeat;
        background-size: 120px;
        background-position: center;
    }
     #howpayalt #accptedcrypt .accptcy1,
     #howpayalt #accptedcrypt .accptcy2,
     #howpayalt #accptedcrypt .accptcy3
     {
         text-align: center;         
         padding-bottom: 6%;
     }
     .cryptb_icon1,.cryptb_icon2,.cryptb_icon3
     {
         margin: auto;
     }
     .cryptb_cont1,.cryptb_cont2,.cryptb_cont3
     {
         text-align: center;
         text-transform: uppercase;
         padding-top:30px;
         font-size: 25px;
         font-style: italic;
     }
            
     #howpayalt .payalmerc-head
     {         
         text-align:center;
         font-size: 25px;
         padding-bottom: 30px;
         font-family: Montserrat-SemiBoldItalic;
         /*text-transform: uppercase;*/
     }
     #howpayalt .payalmerc-cont
     {
         text-align:center;
         padding-bottom:30px;
         min-height: 140px ;
     }
     #howpayalt .howpay-secn-e
     {
         padding-top: 4%;
         padding-bottom: 4%;
     }
     #howpayalt .payalmerc-head img
     {
         display: block;
         margin: auto;
         margin-bottom: 10px;
     }
     #howpayalt .payalmerc-bttn
     {
         text-align:center;         
     }
     #howpayalt .paymercbtn-left,
     #howpayalt .paymercbtn-right
     {
        background:#55cac2;
        color: #fff;
        text-transform: uppercase;
        border: none;
        width: 100%;
        padding: 11px 0px;        
        font-size: 20px;
        font-weight: 600;
        font-family: Montserrat-SemiBoldItalic;       
        cursor: pointer;
     }
     
     #howpayalt #payalmercht-left:after
     {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background: #bdbdbd;
        top: 26px;
        right: -17px;
     }
    #howpayalt #payalmercht-left
    {
        padding-left:0px;
    }
    #howpayalt #payalmercht-right
    {
        padding-right:0px;
    }
    #howpayalt .platfrmleftdiv
    {
        padding-left:0px;
    }
    #howpayalt .platfrmrightdiv
    {
        padding-right:0px;
    }
    #howpayalt-join, #howpayalt-shop, #howpayalt-crypto
    {        
        text-align: center;
    }
    .howpay-secn-b
    {
        padding-top:3%;
        padding-bottom:2%;            
    }
    #howpayalt-join img,
    #howpayalt-shop img, 
    #howpayalt-crypto img
    {
        height: 270px;
    }
    .howpayalt-join-cont span
    {
        display: inline-block;
        padding: 0px 12px;
        border: 2px solid;
        border-radius: 50%;
        margin-right: 15px;
        font-weight: 100;
        font-style: normal;
    }
    .howpayalt-shop-cont span
    {
        display: inline-block;
        padding: 0px 10px;
        border: 2px solid;
        border-radius: 50%;
        margin-right: 15px;
        font-weight: 100;
        font-style: normal;
    }
    .howpayalt-crypto-cont span
    {
        display: inline-block;
        padding: 0px 10px;
        border: 2px solid;
        border-radius: 50%;
        margin-right: 15px;
        font-weight: 100;
        font-style: normal;
    }
    #howpayalt .howpayalt-join-cont, 
    #howpayalt .howpayalt-shop-cont, 
    #howpayalt .howpayalt-crypto-cont
    {
        font-size: 20px;
        padding-top: 20px;
        text-transform: uppercase;
        font-style: italic;
    }
    #howpayalt-work-head
    {
        text-align: center;        
        font-size: 30px;
        padding-bottom: 30px;
        font-family: Montserrat-SemiBoldItalic;
    }    
    .howpybnner
    {
        position: absolute;
        top:0px;
        width: 100%;
    }
    #howpayalt-banncont
    {
        background: #e5e5e5;
        height: 500px;
        padding: 13% 0px;
    }
    #howpayalt-bannhead
    {
        text-align: center;
        font-family: Montserrat-SemiBoldItalic;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 6%;
    }
    #howpayalt-banninr
    {
        text-align: center;
    }
    #howpay-register a button
    {
        background:#55cac2;
        color: #fff;
        text-transform: uppercase;
        border: none;        
        padding: 11px 0px;
        width: 90%;
        margin-top: 8%;
        font-family: Montserrat-SemiBoldItalic;
        font-size: 22px;
        cursor: pointer;
    }
    #howpay-register
    {
        text-align: center;
    }
    .howpay-secn-e .container
    {
        padding-left:0px;
        padding-right:0px;
    }
    .howpayalt-shppyalt
    {
        width: 88%;
        margin: auto;
    }    

    @media(max-width:1200px) and (min-width:992px)
    {    
        #payalmercht-left .payalmerc-cont{min-height:150px !important}
    }
    @media(max-width:991px) and (min-width:768px)
    {
        #payalmercht-left .payalmerc-cont{min-height:211px !important}
    }
    .owl-carousel .owl-dots{
        text-align: center;padding-top: 10px;
    }
    .owl-carousel .owl-dots .owl-dot {
        display: inline-block;
    }
    .owl-carousel .owl-dots .owl-dot span {
        background: none repeat scroll 0 0 #869791;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;
    }
    .owl-carousel .owl-dots .owl-dot.active span {
        background: none repeat scroll 0 0 #464646;
    }
    @media(max-width:991px){
        .mob_disp{display:block !important;margin-bottom: 20px !important;}
        .mob_hide{display:none !important;}
    }
</style>
<link rel='stylesheet' href='js/owlfancybox/owlfancybox.css'>
<script src='js/owlfancybox/owlfancybox.js'></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".owl-carousel").owlCarousel({
        loop:true,
        items: 1,
        singleItem:true,
        dots: true,
        nav: false,
        margin: 0
    });
    $().fancybox({
        selector : '.owl-item:not(.cloned) a',
        hash   : false,
        thumbs : {
          autoStart : false
        },
        buttons : [
          'zoom',
          'download',
          'close'
        ]
    });
});
</script>
<% include layout/footer %>