<% include layout/header_home %>
<style>
#headerdiv
{
    background: transparent;
    position: relative;
}
.resmenuhead
{
    position: absolute;
    box-shadow: none !important;
}
.tab_righta
{
    color: #000 !important;
    font-size: 15px;
}
.shop_head
{
    font-size: 22px;
}
.logosty
{
    height: 75px;
}
.shop_img
{
    width: 200px;
    margin: 20px;
}
.min-height510
{
    min-height: 330px;
}
.how_work
{
    padding-top: 60px;
    padding-left: 200px;
}
.google_search
{
    height: 700px;
    background-size: contain !important;
}
.resp_border
{
    border-left: 2px solid #ccc;
}
.shop_padd70
{
    padding-bottom: 40px;
}
#how-to-shop
{
    padding-top: 40px;
}
.shop_top_marg90
{
    margin-top: 90px;
}
.google_search
{
    margin-top: 70px;
}
.how_work_top_90
{
    margin-top: 90px;
}
.how_does_work_head
{
    padding-bottom: 70px;
}
.resp_selectpad
{
    padding: 80px 0px;
}
.resp_hide
{
    position: absolute;
    right: -29px;
    top: 115px;
    letter-spacing: 10px;
    font-size: 19px;
    font-weight: bold;
}
.shop_all_fav
{
    font-weight: bold;
    width: auto;
    padding: 15px 50px;
}
.resp_padtop10
{
    padding-top: 10px;
}
.resp_fright
{
    float: right;
}
.resp_fright_login
{
    width: 100%;
    padding-right: 30px;
}
.login_butt
{
    display: inline-block;
    text-align: center;
    /*color: #1884ab !important;*/
    margin-top: -35px;
}
.resp_disp_login
{
    display: none;
}
.site_buttona
{
    box-shadow: 0 0 2px 3px rgba(150, 150, 150, 0.6), 0 2px 2px 0 rgba(150, 150, 150, 0.5);
}
.login_butt_div
{
    display: inline-block;
}
.contact_link
{
    color: #53ccc3 !important;
    font-weight: bold;
}
.images_3
{
    height: 180px;
}
#how-it-works2
{
    padding: 60px 0px;
}
.pad_20_30
{
    padding: 20px 30px;
}
.pad_20_30 h4
{
    font-size: 27px;
}
#how-it-works2 h2
{
    font-size: 27px;
}

.bnrvideocont
{
    height: 476px;
}
.banner_section
{
    background: #fff800;
    padding: 0px;
}
.rightbanner_sec
{
    min-height: 475px;
    padding-left: 0px;
    
}
.rightcont_title
{
      text-transform: uppercase;
      color: #000;
      font-weight: 600;
      font-style: italic;
      font-size: 35px;
      line-height: 1;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 25px;
}
.rightcont_sub
{
      width: 400px;
      font-size: 16px;
      text-align: center;
      margin: 1px auto 1px auto;
      float: none;   
      padding: 0px;
}
.clrboth
{
    clear: both;
}
.rightcont_signup
{
    text-align: center;
}
.rgtsignup_title
{
    font-size: 21px;
    font-weight: 600;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 0px;
}
.emailadrstxtbx,.emailadrstxtbx_popup
{
      width: 100%;
      border-radius: 0px;
      border: navajowhite;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      font-size: 20px;
      font-style: italic;
      margin-bottom: 20px;
}
.jonbttn button
{
    border: none;
    font-size: 35px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 35px;
    background: #53ccc3;
    color: #fff;
    cursor: pointer;
}
.rightfull_cont
{
    width: 60%;
    background: #fffecd;
    padding-top: 15px;
    padding-bottom: 15px;
}
.bannercontiner
{
    margin: auto !important;
}
#vid
{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-height: 400px;
    overflow: hidden;
}
.leftbanner_sec
{
    overflow: hidden;
    padding-right: 0px;
}
.resp_images3
{
   display: none;
}

.closepopup_btm   
{
     position: absolute;
     z-index: 5;
     top: 6px;
     right: 13px;
     font-size: 25px;
     font-weight: 600;
     cursor: pointer;
}
.popcont_signup .jonbttn button  
{
    margin-bottom: 18px;
}
.inricondrp
{
    font-weight:600;
    font-size:25px;
    text-align: center;
    width: 100%;
}
.rightinnrdp
{
    display:inline-flex;
    align-items:center;
    height: 100%;
}
.inricondrp img
{
    height: 140px;
    margin: auto;
}
.leftinnrdp
{
    display:inline-flex;
    align-items:center;
    height: 100%;
}
.innerpop   
{
 background: #d6d6d6;
 height: 290px;
 position: absolute;
 width: 52%;
 top: 0px;
 bottom: 0px;
 left: 0px;
 right: 0px;
 margin: auto !important;
}

 #spopup
 {
 background: rgba(0,0,0,0.5);       
 -moz-box-shadow: inset 0 0 3px #333;
 -webkit-box-shadow: inset 0 0 3px #333;
 box-shadow: inner 0 0 3px #333;
 padding: 12px 14px 12px 14px;
 width: 100%;
 height: 100%;
 position: fixed;
 bottom: 0px;
 right: 2px;
 display: none;
 z-index: 110;
 }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}   
      
.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media only screen and (min-width: 1501px) and (max-width: 1650px)
{
    .rightfull_cont
    {
        width: 70%;
    }
}
@media only screen and (min-width: 1301px) and (max-width: 1500px)
{
    .rightfull_cont
    {
        width: 76%;
    }
}
 @media only screen and (min-width: 320px) and (max-width: 500px)
 {
     .leftinnrdp 
     {
         display: inline-flex;
         align-items: center;
         height: 80px;
         padding: 0px;
         margin-top: 50px;
         margin-bottom: 10px;
     }
     .innerpop
     {
        height: 415px;
        width: 95%;
        display: block !important;
     }
     .inricondrp img
     {
         height: 95px;
     }
     .rightinnrdp
     {
         height: auto;
         padding: 0px;
     }
     .popcont_signup
     {
         padding:0px;
     }
    .popcont_signup .rgtsignup_title
    {
        padding:0px !important;
        font-size: 20px;
        text-align: center;
    }
    .popcont_signup .emltxt
    {
        padding:0px;
    }
     .popcont_signup .jonbttn
    {
        padding:0px;
    }
 }

 @media only screen and (min-width: 501px) and (max-width: 767px)
 {
     .leftinnrdp 
     {
         display: inline-flex;
         align-items: center;
         height: 80px;
         padding: 0px;
         margin-top: 50px;
         margin-bottom: 10px;
     }
     .innerpop
     {
        height: 415px;
        width: 95%;
        display: block !important;
     }
     .inricondrp img
     {
         height: 95px;
     }
     .rightinnrdp
     {
         height: auto;
         padding: 0px;
     }
     .popcont_signup
     {
         padding:0px;
     }
    .popcont_signup .rgtsignup_title
    {
        padding:0px !important;
        font-size: 20px;
        text-align: center;
    }
    .popcont_signup .emltxt
    {
        padding:0px;
    }
     .popcont_signup .jonbttn
    {
        padding:0px;
    }
 }

 @media only screen and (min-width: 768px) and (max-width:991px)
 {
     .leftinnrdp 
     {
        display: inline-flex;
        align-items: center;
        height: 80px;
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 10px;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
     }
     .innerpop
     {
        height: 415px;
        width: 75%;
        display: block !important;
     }
     .inricondrp img
     {
         height: 95px;
     }
     .rightinnrdp
     {
        height: auto;
        padding: 0px;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
     }
     .popcont_signup
     {
         padding:0px;
     }
    .popcont_signup .rgtsignup_title
    {
        padding:0px !important;
        font-size: 20px;
        text-align: center;
    }
    .resmenuhead
    {
        position: fixed;
    }
    .rightbanner_sec
    {
        padding-top: 50px;
    }
 }

 @media only screen and (min-width: 992px) and (max-width: 1400px)
 {
     .innerpop
     {
         width: 850px;
     }
     .popcont_signup .rgtsignup_title
     {
         font-size: 18px;
         text-align: center;
     }
 }
  @media only screen and (min-width: 1401px)
 {
     .innerpop
     {
         width: 980px;
     }
 }

@media only screen and (min-width: 320px) and (max-width: 500px)
{
   .container,
   .rightbanner_sec,
   .rightfull_cont,
   .rightcont_signup
   {
       padding-left:0px;
       padding-right:0px;
   }
    .rightfull_cont
    {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .rightcont_sub
    {
        width: 100%;
    }
    .emailadrstxtbx,.emailadrstxtbx_popup
    {
        font-size: 16px;
    }
    .banner_section
    {
        padding:0px;
    }
    .rightcont_title
    {
        font-size: 30px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 991px)
{
    .leftbanner_sec
    {
        display: none;
    }
    .container
    {
        width: 100%;
    }
    .rightbanner_sec
    {
        width: 100%;
        max-width: 100%;
        padding-right: 0px;
        flex: 0 0 100%;
    }
    .emltxt, .jonbttn
    {
        padding: 0px !important;
    }
   .rightfull_cont
   {
       margin: auto;
       float: none;
       width: 100%;
   }
   .banner_section
   {
       background: #fffecd;
   }
   .rightcont_signup
   {
      max-width: 500px;
      margin: auto;
      float: none;
   }
}
@media only screen and (min-width: 992px) and (max-width:1150px)
{
  .container
   {
       width:100%;
   }
   .rightfull_cont
   {
       width: 100%;
   }
   .rgtsignup_title
   {
       padding: 0px;
       font-size: 19px;
   }
   .rightfull_cont {
      width: 100%;
      height: 100%;
      max-height: 475px;
  }
  #vid
  {
      left: 83%;
      transform: translateX(-79%) translateY(-50%);
  }
  .leftbanner_sec
  {
      overflow: hidden;
  }
  .rightbanner_sec
  {
      padding:0px;
  }
}
@media only screen and (min-width: 1151px) and (max-width:1300px)
{
   .bannercontiner
   {
       /*width: 1024px;*/
       margin:auto;
   }
   .rightbanner_sec
   {
       padding-right:0px;
   }
   .rightfull_cont
   {
       width:100%;
       padding-right: 0px;
       padding-left: 0px;
   }

}

@media screen and (max-width: 1500px)
{
    .google_search
    {
        height: 600px;
    }
}
@media screen and (max-width: 1400px)
{
    .google_search
    {
        height: 550px;
    }
}
@media screen and (max-width: 1300px)
{
    .google_search
    {
        height: 500px;
    }
    .how_work
    {
        padding-left: 100px;
    }
    .google_search
    {
        margin-top: 20px;
    }
}
@media screen and (max-width: 1200px)
{
    .google_search
    {
        height: 500px;
        background-size: cover !important;
    }
    .how_work
    {
        padding-top: 0px;
    }
    .shop_top_marg90
    {
        margin-top: 70px;
    }
    .google_search
    {
        margin-top: 10px;
    }
    .pad_20_30 h4
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 1100px)
{
    .how_work
    {
        padding-left: 60px;
    }
    #footer-widget
    {
        padding: 50px 0px;
    }
}
@media screen and (max-width: 1427px) and (min-width: 992px)
{
    .shop_img
    {
        width: 80%;
    }
    .resp_pad0
    {
        padding: 0px;
    }
    .shop_head
    {
        font-size: 18px;
    }
    .shop_desc
    {
        font-size: 14px;
    }
    .google_search
    {
        height: 600px;
    }
}
@media screen and (max-width: 1075px) and (min-width: 992px)
{
    .logosty
    {
        height: 50px;
    }
}
@media screen and (max-width: 1060px) and (min-width: 992px)
{
    .tab_righta
    {
        padding: 1px 5px;
    }
    .logosty
    {
        height: 50px;
    }
    .resp_padtop10
    {
        padding-top: 5px;
    }
}

@media screen and (max-width: 991px)
{
    #how-it-works2
    {
        padding: 0px 0px 60px 0px;
    }
    .login_butt_div
    {
        display: none;
    }
    .resp_disp_login
    {
        display: inline-block;
    }
    .shop_img
    {
        height: 150px;
        width: auto;
    }
    .min-height510
    {
        min-height: 320px;
    }
    .shop_top_marg90
    {
        margin-top: 70px;
    }
    .how_work_top_90
    {
        margin-top: 60px;
        padding-bottom: 50px;
    }
    .how_does_work_head
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .logosty
    {
        height: 50px;
    }
    .tab_righta
    {
        padding: 12px 5px !important;
    }
    .resp_txtcenter
    {
        text-align: center;
    }
}
@media screen and (max-width: 991px)
{
    .images_3
    {
        height: 120px;
    }
    .resp_hide_1
    {
        display: none;
    }
    .resp_border
    {
        border: unset;
    }
    .pad_20_30
    {
        padding: 20px 0px;
    }
    .pad_20_30 h4
    {
        font-size: 22px;
    }
    #how-it-works2 h2
    {
        font-size: 22px;
    }
    .resp_full_width
    {
        max-width: 100% !important;
        padding: 0px !important;
    }
}
@media screen and (max-width: 818px)
{
    .resp_fright
    {
        float: none;
    }
    .resp_fright_login
    {
        padding-right: 0px;
        width: auto
    }
}
@media screen and (max-width: 767px)
{
    .logosty
    {
        height: 50px;
    }
    .resp_selectpad
    {
        padding: 0px;
    }
    .how_does_work_head
    {
        padding-top: 10px;
        padding-bottom: 0px;
    }
    .how_work_top_90
    {
        margin-top: 40px;
        padding-bottom: 50px;
    }
    .google_search
    {
        margin-top: 30px;
    }
    .shop_top_marg90
    {
        margin-top: 30px;
    }
    .min-height510
    {
        min-height: auto;
    }
    .shop_padd70
    {
        padding-bottom: 30px;
    }
    #how-to-shop
    {
        padding-top: 30px;
    }
    .shop_img
    {
        height: auto;
        width: auto;
        margin: 0px;
    }
    .resmenuhead
    {
        position: fixed;
    }
    .next_content::after
    {
        content: '';
    }
    .resp_paddbott30
    {
        padding-bottom: 30px;
    }
    .resp_marbott40
    {
        margin-bottom: 40px;
    }
    .resp_size_image
    {
        width: 100px;
    }
    .resp_border
    {
        border-left: 0px solid #ccc;
        border-top: 1px solid #ccc;
        border: unset;
    }
    .resp_hide
    {
        position: absolute;
        left: 45%;
        top: 95%;
        right: unset;
        background: #fff;
        font-size: 19px;
        font-weight: bold;
        z-index: 1;
        padding-left: 5px;
        padding-right: 5px;
    }
    .shop_all_fav
    {
        padding: 10px 30px;
    }
}
@media screen and (max-width: 767px)
{
    .images_3
    {
        height: 100px;
    }
    .col-sm-4
    {
        width: 33%;
    }
    .how_it_works_three
    {
        font-size: 12px;
        padding: 0px !important;
    }
    .how_it_works_head
    {
        margin-bottom: 40px;
    }
    #how-it-works2
    {
        padding: 40px 0px;
    }
    .rightbanner_sec
    {
        width:100%;
        max-width: 100%;
        padding-right: 0px;
        flex: 0 0 100%;
        padding-top: 50px;
    }
}
@media screen and (max-width: 575px)
{
    .resp_center
    {
        text-align: center;
    }
    .how_work
    {
        padding-left: 15px;
    }
}

@media only screen and (min-width: 436px) and (max-width: 540px)
{
    .how_it_works_three
    {
       font-size: 10px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 460px)
{
    .how_it_works_three
    {
       font-size: 11px;
    }
    .how_it_works_three:nth-child(1),
    .how_it_works_three:nth-child(2)
    {
        width: 30%;
    }

    .how_it_works_three:nth-child(3)
    {
        width: 38%;
    }
    .desk_images3
    {
       display: none;
    }
    .resp_images3
    {
       display: inline-block;
    }
}
@media only screen and (min-width: 320px) and (max-width: 530px)
{
    .images_3
    {
       height: 70px;
    }
    .how_it_works_three
    {
       padding: 1px 6px;
    }
}
@media screen and (max-width: 460px)
{
    .shop_all_fav
    {
        margin: 0px 10px;
    }
    .images_3
    {
        height: 80px;
    }
}

</style>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<link rel="stylesheet" href="js/sweetalert.min.css">
<script src="js/sweetalert.js"></script>

<!--<div class="banner-bckimg">
    <div class="content">
        <h1 class="resp_content_h1">Shop online, anytime with Cryptocurrency</h1>
        <a href="javascript:void(0)" style="display: block; width: 215px; margin: 0 auto;">
            <button type="button" name="open_instance" id="open_instance" data-toggle="modal" data-target="#myModal" class="site_button wid180 fsize20" style="font-weight: bold; width: 215px; padding: 10px 25px;">SHOP NOW</button>
        </a>
        <div style="margin-top: 60px; color: #1884ab; text-decoration: underline;">
            <a href="javascript:void(0)" style="font-weight: bold; color: #1884ab;">
                LEARN MORE
            </a>
        </div>
    </div>
</div>-->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner_section">
    <div class="bannercontiner row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 leftbanner_sec">
        <video autoplay loop muted id="vid">
           <source src="../images/updated/shop-site-video.webm"  />
        </video>                        
        </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rightbanner_sec">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rightfull_cont">            
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rightcont_title">
            Pay with crypto,<br> everywhere
        </div>
        <div class="clrboth"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rightcont_sub">
            PayAlt is the simple and secure way to shop with crypto online and in-store as easily as with cash or a debit card.
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rightcont_signup">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rgtsignup_title">Sign up to join the beta today!</div>
            <form name="signup_form" id="signup_form" method="post">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 emltxt">
                    <input type="email" class="emailadrstxtbx" name="email_id" placeholder="Enter your email address" required/>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 jonbttn">
                    <button type="button" class="join_button">Join</button>
                </div>
            </form>
        </div>
        <div class="clrboth"></div>
        </div>
        <div class="clrboth"></div>
    </div>
    </div>
</div>

<div class="padleft0 padright0">
    <div id="how-it-works2" style="background-color: #FFF;">
        <div class="col-md-12 col-sm-12 col-xs-12 txtcenter how_does_work_head">
            <h2 class="how_it_works_head" style="font-style: italic; font-weight: bold;">HOW IT WORKS</h2>
        </div>
        <div class="container pad0 resp_full_width">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtcenter how_it_works_three" style="font-style: italic; font-weight: bold;">
                    <div style="margin-bottom: 30px;">
                        <img src="../images/updated/join-icons.png" class="images_3">
                    </div>
                    <span class="desk_images3" style="border: 3px solid #555; border-radius: 25px; height: 35px; margin-right: 10px; width: 35px; display: inline-block; line-height: 30px;">1</span>
                    <span class="resp_images3">1. </span>
                    JOIN
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtcenter how_it_works_three" style="font-style: italic; font-weight: bold; ">
                    <div style="margin-bottom: 30px;">
                        <img src="../images/updated/shop.png" class="images_3">
                    </div>
                    <span class="desk_images3" style="border: 3px solid #555; border-radius: 25px; height: 35px; margin-right: 10px; width: 35px; display: inline-block; line-height: 30px;">2</span>
                    <span class="resp_images3">2. </span>
                    SHOP
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 txtcenter how_it_works_three" style="font-style: italic; font-weight: bold;">
                    <div style="margin-bottom: 30px;">
                        <img src="../images/updated/pay-with-crypto.png" class="images_3">
                    </div>
                    <span class="desk_images3" style="border: 3px solid #555; border-radius: 25px; height: 35px; margin-right: 10px; width: 35px; display: inline-block; line-height: 30px;">3</span>
                    <span class="resp_images3">3. </span>
                    PAY WITH CRYPTO
                </div>
            </div>
        </div>
    </div>
    <div id="merchant_and_partner" style="padding: 60px 0px; background-color: #e4e4e4;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row pad_20_30">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0_imp" style="display: inline-flex;">
                        <h4 class="txtcenter" style="font-style: italic; font-weight: bold; margin: auto;">
                            <img class="resp_hide_1" src="../images/updated/MERCHANTS.png" style="height: 74px; width: 74px;">
                            PAYALT FOR MERCHANTS
                        </h4>
                    </div>
                    <div style="text-align: center; margin-top: 30px; padding: 0px 10px;">Run an online business? PayAlt makes it easy for your customers to pay it with crypto, online or in-store, with a no-cost crypto POS service.</div>
                    <div class="txtcenter" style="margin-top: 20px;">
                        <a href="mailto:merchants@payalt.com" class="contact_link">Contact us and learn how you can start expanding your revenue stream!</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 row pad_20_30 resp_border">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad0_imp" style="display: inline-flex;">
                        <h4 class="txtcenter" style="font-style: italic; font-weight: bold; margin: auto;">
                            <img class="resp_hide_1" src="../images/updated/PARTNER.png" style="height: 74px; width: 74px;">
                            PARTNER PROGRAM
                        </h4>
                    </div>
                    <div style="text-align: center; margin-top: 30px; padding: 0px 10px;">Whether you run an exchange, a POS system or a blockchain-based service, PayAlt offers crypto payment solutions tailored to fit your business.</div>
                    <div class="txtcenter" style="margin-top: 20px;">
                        <a href="mailto:partners@payalt.com" class="contact_link">Contact us to find out how a partnership can work for you!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div id="how-to-shop">
        <div class="col-md-12 col-sm-12 col-xs-12 txtcenter shop_padd70">
            <h2 style="font-size: 40px;">How to Shop</h2>
        </div>
        <div class="row col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd_side25 resp_marbott40">
                <div class="row next_content resp_paddbott30" style="border: 1px solid #95cca9;">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 txtcenter" style="display: inline-block; padding: 0px!important;">
                        <img class="shop_img" src="images/search_online.png">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 resp_pad0 min-height510" style="display: inline-block;">
                        <div style="text-align: center; margin-top: 25px; margin-bottom: 25px;">
                            <div style="border: 2px solid #ccc; border-radius: 50px; height: 55px; width: 55px; margin: 0 auto; color: #777; font-weight: bold; font-size: 33px;">1</div>
                        </div>
                        <h3 class="shop_head" style="margin-bottom: 25px;">Search Online</h3>
                        <span class="shop_desc">Go to "Shop Now" to browse online</span>
                    </div>
                </div>
            </div>                
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd_side25 resp_marbott40">
                <div class="row next_content resp_paddbott30" style="border: 1px solid #e6b479;">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 txtcenter" style="display: inline-block; padding: 0px!important;">
                        <img class="shop_img" src="images/shop.png">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 resp_pad0 min-height510" style="display: inline-block;">
                        <div style="text-align: center; margin-top: 25px; margin-bottom: 25px;">
                            <div style="border: 2px solid #ccc; border-radius: 50px; height: 55px; width: 55px; margin: 0 auto; color: #777; font-weight: bold; font-size: 33px;">2</div>
                        </div>
                        <h3 class="shop_head" style="margin-bottom: 25px;">Shop</h3>
                        <span class="shop_desc">Choose "PayAlt" at checkout to see Cryptocurrency payment options</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd_side25 resp_marbott40">
                <div class="row resp_paddbott30" style="border: 1px solid #94c0c8;">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 txtcenter" style="display: inline-block; padding: 0px!important;">
                        <img class="shop_img" src="images/pay_with_crypto-currency.png">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 resp_pad0 min-height510" style="display: inline-block;">
                        <div style="text-align: center; margin-top: 25px; margin-bottom: 25px;">
                            <div style="border: 2px solid #ccc; border-radius: 50px; height: 55px; width: 55px; margin: 0 auto; color: #777; font-weight: bold; font-size: 33px;">3</div>
                        </div>
                        <h3 class="shop_head" style="margin-bottom: 25px;">Pay with Cryptocurrency</h3>
                        <span class="shop_desc">Complete your payment transaction with your preferred Cryptocurrency</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="txtcenter shop_top_marg90">
            <a href="javascript:void(0)" style="display: block; width: 215px; margin: 0 auto;">
                <button type="button" name="open_instance" id="open_instance" data-toggle="modal" data-target="#myModal" class="site_button wid180 fsize20" style="font-weight: bold; width: 215px; padding: 10px 25px;">SHOP NOW</button>
            </a>
        </div>
    </div>
    <div class="google_search" style="background: url('../images/google-search-images.png'); width: 100%; background-repeat: no-repeat; background-position: center;"></div>
    <div class="txtcenter">
        <a href="javascript:void(0)" style="display: block; width: 440px; margin: 0 auto;">
            <button type="button" class="site_button wid180 fsize20 shop_all_fav">SHOP ALL YOUR FAVORITE SITES</button>
        </a>
    </div>
    <div id="how-it-works" class="how_work_top_90" style="background: #e4e4e4; padding-bottom: 70px;">
        <div class="col-md-12 col-sm-12 col-xs-12 txtcenter how_does_work_head">
            <h2 style="font-size: 40px;">How does it work?</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 how_work">
                <div class="row" style="margin: 30px 0px;">
                    <div class="col-lg-2 col-md-3 col-sm-3 col-3 txtcenter">
                        <img src="../images/icon-1.png" style="width: 70px;">
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-9 col-9 resp_center">Shop and pay bills (in real-time) at over 24 million e-commerce sites</div>
                </div>
                <div class="row" style="margin: 30px 0px;">
                    <div class="col-lg-2 col-md-3 col-sm-3 col-3 txtcenter">
                        <img src="../images/icon-2.png" style="width: 70px;">
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-9 col-9 resp_center">Pay only $1.5 transaction fee</div>
                </div>
                <div class="row" style="margin: 30px 0px;">
                    <div class="col-lg-2 col-md-3 col-sm-3 col-3 txtcenter">
                        <img src="../images/icon-3.png" style="width: 70px;">
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-9 col-9 resp_center">Keep your current wallett/broker</div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 txtcenter">
                <img src="../images/how_does-work.png" style="width: 100%;">
            </div>
        </div>
        <div class="txtcenter" style="margin-top: 50px;">
            <a href="javascript:void(0)" style="display: block; width: 215px; margin: 0 auto;">
                <button type="button" name="open_instance" id="open_instance" data-toggle="modal" data-target="#myModal" class="site_button wid180 fsize20" style="font-weight: bold; width: 215px; padding: 10px 25px;">SHOP NOW</button>
            </a>
        </div>
    </div>
    <div id="what-cryptocurrency-to-use" style="background: url('../images/banner-image-.png'); padding-top: 100px; padding-bottom: 100px; background-repeat: no-repeat; background-position: center; height: 600px;">
        <h1 style="text-align: center; color: #fff;">What Cryptocurrency can i use?</h1>
        <div class="container">
            <div class="row col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: 100px;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-4 txtcenter">
                    <img class="resp_size_image" src="../images/icon_6.png">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4 txtcenter">
                    <img class="resp_size_image" src="../images/icon_5.png">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-4 txtcenter">
                    <img class="resp_size_image" src="../images/icon_4.png">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 row resp_selectpad">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="text-align: center; font-size: 24px; padding-top: 70px; padding-bottom: 70px; padding-left: 0px;">
                Create an account track purchase
                <div class="txtcenter" style="margin-top: 40px;">
                    <a href="/register" style="display: block;">
                        <button type="button" class="site_button wid180 fsize20" style="font-weight: bold; width: 215px; padding: 10px 25px;">SIGN UP NOW</button>
                    </a>
                </div>
                <div class="resp_hide">OR</div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 resp_border" style="text-align: center; font-size: 24px; padding-top: 70px; padding-bottom: 70px; padding-right: 0px;">
                Shop as a guest and checkout as a guest
                <div class="txtcenter" style="margin-top: 40px;">
                    <a href="javascript:void(0)" style="display: block; width: 215px; margin: 0 auto;">
                        <button type="button" name="open_instance" id="open_instance" data-toggle="modal" data-target="#myModal" class="site_button wid180 fsize20" style="font-weight: bold; width: 215px; padding: 10px 25px;">SHOP NOW</button>
                    </a>
                </div>
            </div>
        </div>
    </div>-->

<input type="hidden" class="log_status_content" value="<%=locals.logged%>"

</div>

<div id="spopup" class="" style="display: none;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 innerpop row animated zoomIn">
        <span class="closepopup_btm">X</span>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 leftinnrdp">
            <div class="inricondrp"> <img src="../images/logo.png" /> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 rightinnrdp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 popcont_signup">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rgtsignup_title">Sign up to join the beta today!</div>
            <form name="popup_signup_form" id="popup_signup_form" method="post">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 emltxt">
                    <input type="email" class="emailadrstxtbx_popup" name="email_id" placeholder="Enter your email address" required/>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 jonbttn">
                    <button type="button" class="join_button_popup">Join</button>
                </div>
            </form>
            </div>
        </div>
        <input type="hidden" class="hdnpopup" value="0" />
    </div>
</div>
<input type = "hidden" class = "logged_user" value = "<%=locals.logged%>">

<style type="text/css">
#signup_form label.error, #popup_signup_form label.error{
    display:none !important;
}
#popup_signup_form input.error, #signup_form input.error{
    border: 2px solid #c94040;
    box-shadow: none;
}
</style>
<script>    
    
    var $ = jQuery.noConflict();
    $(".hdnpopup").val(0);

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    function checkCookie() {
        var user = getCookie("username");
        console.log(user);
        if (user != "") {
            show_popup = 0;
            console.log("Cookie set");
        } else {
            show_popup = 1;
            console.log("Cookie not set");
        }
    }
    $(window).scroll(function()
    {    
        var show_popup = 1;
        checkCookie();
        if(show_popup == 1)
        {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                if($(".hdnpopup").val() == 0 && $(".log_status_content").val() == "0")
                {       
                    $("#spopup").show();
                }
            }
            else 
            {
                $("#spopup").hide("slow");
            }
        }
    });
    $(document).on("click",".closepopup_btm",function(){         
        var user = getCookie("username");
          console.log(user);
          if (user != "") {
            //Cookie present
          } else {
            user = "user";
            if (user != "" && user != null) {
              setCookie("username", user, 10);
            }
          }
        $("#spopup").hide("slow");
        $(".hdnpopup").val(1);
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        /*$(window).scroll(function(){
            var scroll = $(window).scrollTop();
            if (scroll > 50) {
                $("#headerdiv").css("background" , "#1884ab");
                $(".scroll_white").attr("style", "color: #fff!important");
            }
            else{
                $("#headerdiv").css("background" , "transparent");
                $(".scroll_white").attr("style", "color: #000!important");
            }
        });*/

        var owl = $('.owl-carousel');
        owl.owlCarousel({
          loop: true,
          margin: 10,
          nav: true,
          responsive: {
            0: {
              items: 2
            },
            600: {
              items: 3
            },
            1000: {
              items: 5
            }
          }
        });
    });
    jQuery(".join_button").click(function() {
        /*var email_id = jQuery(".emailadrstxtbx").val();
        if(email_id != '')
        {
            window.location.href="/register?email_id=" + email_id;
        }
        else
        {
            window.location.href="/register";
        }*/
        var thiss = $(this);
        var valid = $("#signup_form").valid();
        if(valid){
            thiss.attr("disabled",true).html("Processing <i class='fa fa-spinner fa-spin'></i>");
            $.ajax({
                url: '/trans/newsletter_admin',
                data: $("#signup_form").serialize(),
                type: 'POST',
                success: function (data) {
                    thiss.removeAttr("disabled").html("Join");
                    if(data.msg == "success"){
                        swal ("Success","Your request has been submitted","success");
                        setTimeout(function(){window.location.reload();},2000);
                    } else {
                        swal("","Error in Processing.Try again later","error");
                        setTimeout(function(){window.location.reload();},2000);
                    }
                },
                error: function (err) {
                    thiss.removeAttr("disabled").html("Join");
                    swal("","Error in Processing.Try again later","error");
                    setTimeout(function(){window.location.reload();},2000);
                }
            })
        }
    });
    jQuery(".join_button_popup").click(function() {
        /*var email_id = jQuery(".emailadrstxtbx_popup").val();
        if(email_id != '')
        {
            window.location.href="/register?email_id=" + email_id;
        }
        else
        {
            window.location.href="/register";
        }*/
        var thiss = $(this);
        var valid = $("#popup_signup_form").valid();
        if(valid){
            thiss.attr("disabled",true).html("Processing <i class='fa fa-spinner fa-spin'></i>");
            $.ajax({
                url: '/trans/newsletter_admin',
                data: $("#popup_signup_form").serialize(),
                type: 'POST',
                success: function (data) {
                    thiss.removeAttr("disabled").html("Join");
                    if(data.msg == "success"){
                        swal ("Success","Your request has been submitted","success");
                        setTimeout(function(){window.location.reload();},2000);
                    } else {
                        swal("","Error in Processing.Try again later","error");
                        setTimeout(function(){window.location.reload();},2000);
                    }
                },
                error: function (err) {
                    thiss.removeAttr("disabled").html("Join");
                    swal("","Error in Processing.Try again later","error");
                    setTimeout(function(){window.location.reload();},2000);
                }
            })
        }
    });
    jQuery("#howitwork").click(function() {
        jQuery('html,body').animate({
            scrollTop: $("#how-it-works").offset().top},
            'slow');
    });
</script>
<% include layout/footer_home %>