<% include layout/login_header %>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <div class="modal" id="login_box" tabindex="-1" role="dialog" aria-labelledby="paytransModalLabel" aria-hidden="true">
        <div class="modal-content" style="max-width: 460px !important;">
            <div class="modal-header">
                <img src="images/payalt_login_logo.png" style="margin: 0 auto;padding: 40px 0;"/>
            </div>
            <div class="content modal-body" id="register_bx">
                <%if(typeof err_msg != 'undefined' && err_msg != ''){%>
                <div class="alert alert-danger mb-4"><%=err_msg%></div>
                <%}%>
                <%if(typeof succ_msg != 'undefined' && succ_msg != ''){%>
                <div class="alert alert-success mb-4"><%=succ_msg%></div>
                <%}%>
                <form action="/login" method="post" id="login_form" style="min-width: auto;">
                    <div class="uname_box">
                        <input type="text" class="input newtxtbox wid100imp" id="username" name="username" placeholder="Username" required value="">
                    </div>
                    <div class="uname_box mt-1">
                        <input type="password" class="input newtxtbox wid100imp" id="password" name="password" placeholder="Password" required value="">
                    </div>
                    <input type="hidden" name="login_process" id="login_process" value="1"/>
                    <input type="hidden" name="shopper_login" value="1"/>
                    <input type="hidden" name="open_brow" value="1"/>
                    <div class="txtright mt-1 mb-2">
                        <input type="button" class="login_button" value="Login" id="login_shopping">
                    </div>
                    <div class="text-left mt-3 mb-3">
                        <input type="checkbox" id="remember_me" name="remember_me" value=""/>
                        <label for="remember_me">Remember me</label>
                    </div>
                    <div class="text-center mt-4 mb-2">
                        <a href="/register"><input type="button" class="register_button" value="Register" id="register_shopping"></a>
                        <a href="/forgot_password" id="forgot_pwd_click" class="d-block mt-2 mb-3">Forgot Password?</a>
                    </div>
                </form>                                
            </div>
        </div>
        <div class="modal-absfooter">
            <div>&copy; 2020 PAYALT</div>
            <div class="modalfootericons mt-3 mb-2">
                <a href="https://www.linkedin.com/company/payalt" target="_blank"><img src="images/linkedin_icon.png"/></a>
                <a href="https://www.instagram.com/payalt_official/" target="_blank"><img src="images/insta_icon.png"/></a>
                <a href="https://www.facebook.com/payaltofficial/" target="_blank"><img src="images/fb_icon.png"/></a>
            </div>
        </div>
    </div>
    <script>
    jQuery(document).ready(function(){
        $('#login_box').modal({
            backdrop: 'static',
            keyboard: false,
            show: true
        });
        /** REMEMBER ME FUNCTIONALITY **/
        var remember = localStorage.getItem('remember');
        if ( remember == 'true' ) {
            var username = localStorage.getItem('username');
            var password = localStorage.getItem('password');
            // autofill the fields
            $('#login_box #remember_me').prop("checked",true);
            $('#login_box #username').val(username);
            $('#login_box #password').val(password);
        }
        /** REMEMBER ME FUNCTIONALITY **/
    });
    jQuery(document).on("click","#login_shopping",function(){
        var valid = $("#login_form").valid();
        if(valid){
            if ($('#remember_me').prop('checked') == true) {
                var username = $('#login_box #username').val();
                var password = $('#login_box #password').val();
                localStorage.setItem('username', username);
                localStorage.setItem('password', password);
                localStorage.setItem('remember', true);
            } else {
                localStorage.removeItem('username');
                localStorage.removeItem('password');
                localStorage.removeItem('remember');
            }
            $("#login_form").submit();
        }
    });
    </script>
<% include layout/login_footer %>