<% include layout/header %>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <div class="content_login">
        <div id="login_bx">
            <div id="passbox">
                <%if(typeof err_msg != 'undefined' && err_msg != ''){%>
                <div class="error"><%=err_msg%></div>
                <%}%>
                <h2 class="mtop0 txtcenter padbottom20">Set your Password</h2>
                <form action="" method="post" id="register_form">
                    <div class="uname_box">
                        <div class="padbottom5">Password</div>
                        <input type="password" class="input wid100imp" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="uname_box">
                        <div class="padbottom5">Re-enter Password</div>
                        <input type="password" class="input wid100imp" id="repassword" name="repassword" placeholder="re-Password" required equalTo="#password">
                    </div>
                    <br>
                    <div class="txtcenter padtop10">
                        <input type="submit" class="site_button" value="Confirm & Login" id="password_set">
                    </div>
                    <input type="hidden" name="password_setup" value="1"/>
                </form>
            </div>
        </div>
    </div>
    <style type="text/css">
    .error {
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
        padding: 10px;
        color: red;
    }
    </style>
    <script>
    jQuery(document).on("click","#password_set",function(){
        var valid = $("#register_form").valid();
        if(valid){
            $("#register_form").submit();
        }
    });
    </script>
  <% include layout/footer %>