<% include layout/header %>
<div class="banner-privacy">
    <div class="bannerheadpos">
        <h1 class="colorwhite">PayAlt Corp. Privacy Policy</h1>
    </div>
</div>
<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12 padleft0 padright0 padtop20 padbottom20">
        <div><strong>Introduction</strong></div><br/>
        <div>PayAlt Corp. ("<strong>Company</strong>" or "<strong>We</strong>") respect your privacy and are committed to protecting it through our compliance with this policy. When you visit our website payalt.com, ("<strong>our Website</strong>") and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy policy, we provide what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites and our services.</div><br/>
        <div>This privacy policy applies to all information collected through our website (such as payalt.com), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "<strong>Services</strong>").</div><br/>
        <div><strong>Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.</strong></div><br/>
        <div>This policy applies to any and all information we collect.</div><br/>
        <ul class="ullist">
            <li>On this Website.</li>
            <li>In email, text, and other electronic messages between you and this Website.</li>
            <li>Through mobile and desktop applications you download from this Website, which provide dedicated non-browser-based interaction between you and this Website.</li>
            <li>When you interact with our advertising and applications on third-party websites and services, if those applications or advertising include links to this policy.</li>
        </ul>

        <div>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time (see Changes to Our Policy). Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.</div><br/>

        <div><strong>Persons Under the Age of 18</strong></div><br/>
        <div>Our Website is not intended for persons under 18 years of age. No one under age 18 may provide any information to or on the Website. We do not knowingly collect personal information from persons under 18. If you are under 18, do not use or provide any information on this Website or through any of its features, register on the Website, make any purchases through the Website, use any of the interactive features of this Website, or provide any information about yourself to us, including your name, address, telephone number, email address, or any screen name or user name you may use. If we learn we have collected or received personal information from anyone under 18, we will delete that information. If you believe we might have any information from or about a person under 18, please contact us at <a href="mailto:compliance@payalt.com">compliance@payalt.com</a>.</div></br>
        
        <div><strong>Information We Collect About You and How We Collect It</strong></div><br/>
        <div>We collect several types of information from and about users of our Website, including information:</div></br>

        <div><strong>1. Personal Information Provided by You.</strong>  We collect first name, maiden name, last name, nickname, ID, driver's license number, passport number, current and former address, phone numbers, email addresses, business email, business phone number, business entity filings, corporate affiliations, business associates, government licenses, professional licenses, financial information (credit card number, purchase history, invoices) and other similar data (“personal information”).</div><br/>
        <div><strong>2. Payment Data.</strong> We collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment data is stored by Agreement between Coinbase Inc. and Bento Technologies Inc. You may find their privacy policy link(s) here: <a href="https://www.coinbase.com/legal/privacy">https://www.coinbase.com/legal/privacy</a> and at <a href="https://bentoforbusiness.com/legal/privacy-policy/">https://bentoforbusiness.com/legal/privacy-policy/</a>.</div><br/>
        <div><strong>3. Credentials.</strong> We collect passwords, password hints, and similar security information used for authentication and account access. <br/>
All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</div><br/>
        <div>
        <strong>4. Information automatically collected:</strong><br/><br/>
        <ol class="ullist">
            <li>About your internet connection, the equipment you use to access our Website, and usage details.</li>
            <li>We automatically collect certain information when you visit, use or navigate the Services. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Services and other technical information. This information is primarily needed to maintain the security and operation of our Services, and for our internal analytics and reporting purposes.</li>
            <li><strong>Online Identifiers.</strong> We collect devices, applications, tools and protocols, such as IP (Internet Protocol) addresses, cookie identifiers, or others such as the ones used for analytics and marketing, device's geolocation, and other similar data.</li>
        </ol>
        </div><br/>
        <div><strong>5. Information collected from other source:</strong> We may obtain information about you from other sources, such as public databases, joint marketing partners, as well as from other third parties. Examples of the information we receive from other sources include: social media profile information; marketing leads and search results and links, including paid listings (such as sponsored links). We will inform you about the source of information and the type of information we have collected about you within a reasonable period after obtaining the personal data, but at the latest within one month.</div><br/>
        <div><strong>6. All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</strong><br/><br/><div><strong>More on How we collect this information.</strong> We use personal information collected via our Services for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.</div><br/>
<div>We use the below information we collect or receive: </div></div><br/>
    
        <ol class="ullist">
            <li><strong>To facilitate account creation and logon process.</strong> If you choose to link your account with us to a third-party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract.</li>
            <li><strong>To send you marketing and promotional communications.</strong> We and/or our third-party marketing partners may use the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences.</li>
            <li><strong>To send administrative information to you.</strong> We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.</li>
            <li><strong>Fulfill and manage your orders.</strong> We may use your information to fulfill and manage your orders, payments, returns, and exchanges made through the Services.</li>
            <li><strong>To post testimonials.</strong> We may post testimonials regarding our Services that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and testimonial. If you wish to update, or delete your testimonial, please contact us at <a href="mailto:compliance@payalt.com">compliance@payalt.com</a> and be sure to include your name, testimonial location, and contact information.</li>
            <li><strong>Request Feedback.</strong> We may use your information to request feedback and to contact you about your use of our Services.</li>
            <li><strong>To protect our Services.</strong> We may use your information as part of our efforts to keep our Services safe and secure (for example, for fraud monitoring and prevention).</li>
            <li><strong>To enable user-to-user communications.</strong> We may use your information in order to enable user-to-user communications with each user's consent.</li>
            <li><strong>To enforce our terms, conditions and policies for Business Purposes, Legal Reasons and Contractual.</strong></li>
            <li><strong>To respond to legal requests and prevent harm.</strong> If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.</li>
            <li><strong>To manage user accounts.</strong> We may use your information for the purposes of managing our account and keeping it in working order.</li>
            <li><strong>To deliver services to the user.</strong> We may use your information to provide you with the requested service.</li>
            <li><strong>To respond to user inquiries/offer support to users.</strong> We may use your information to respond to your inquiries and solve any potential issues you might have with the use of our Services.</li>
            <li><strong>For other Business Purposes.</strong> We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Services, products, marketing and your experience. We may use and store this information in aggregated and anonymized form so that it is not associated with individual end users and does not include personal information. We will not use identifiable personal information without your consent.<br/><br/>
    <div>You also may provide information to be published or displayed (hereinafter, "<strong>posted</strong>") on public areas of the Website, or transmitted to other users of the Website or third parties (collectively, "<strong>User Contributions</strong>"). Your User Contributions are posted on and transmitted to others at your own risk. Although we limit access to certain pages/you may set certain privacy settings for such information by logging into your account profile, please be aware that no security measures are perfect or impenetrable. Additionally, we cannot control the actions of other users of the Website with whom you may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions will not be viewed by unauthorized persons.</div>
            </li>
        </ol>
        
        <strong>Automatic Other Ways We Collect Information </strong><br/><br/>
        <div>As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:</div></br>
        <ul class="ullist">
            <li>Details of your visits to our Website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website.</li>
            <li>Information about your computer and internet connection, including your IP address, operating system, and browser type.</li>
        </ul><br/>

        <div>The information we collect automatically includes personal information, we may maintain it or associate it with personal information we collect in other ways or receive from third parties. It helps us to improve our Website and to deliver a better and more personalized service, including by enabling us to:</div></br>
        <ul class="ullist">
            <li>Estimate our audience size and usage patterns.</li>
            <li>Store information about your preferences, allowing us to customize our Website according to your individual interests.</li>
            <li>Speed up your searches.</li>
            <li>Recognize you when you return to our Website.</li>
        </ul><br/>
        <div>The technologies we may use for this automatic data collection may include:</div><br/>
        <ol class="ullist">
            <li><strong>Cookies (or browser cookies).</strong> A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to our Website.</li>
            <li><strong>Flash Cookies.</strong> Certain features of our Website may use local stored objects (or Flash cookies) to collect and store information about your preferences and navigation to, from, and on our Website. Flash cookies are not managed by the same browser settings as are used for browser cookies.</li>
            <li><strong>Web Beacons.</strong> Pages of our Website and our e-mails may contain small electronic files known as web beacons (also referred to as clear gifs, pixel tags, and single-pixel gifs) that permit the Company, for example, to count users who have visited those pages or [opened an email] and for other related website statistics (for example, recording the popularity of certain website content and verifying system and server integrity).</li>
        </ol><br/>
        <div>We do not collect personal information automatically, but we may tie this information to personal information about you that we collect from other sources or you provide to us.</div><br/>
        
        <div><strong>Third-Party Use of Cookies and Other Tracking Technologies</strong></div><br/>
        <div>Some content or applications, including advertisements, on the Website are served by third-parties, including advertisers, ad networks and servers, content providers, and application providers. These third parties may use cookies alone or in conjunction with web beacons or other tracking technologies] to collect information about you when you use our website. The information they collect may be associated with your personal information or they may collect information, including personal information, about your online activities over time and across different websites and other online services. They may use this information to provide you with interest-based (behavioral) advertising or other targeted content.
<br/><br/>
We do not control these third parties’ tracking technologies or how they may be used. If you have any questions about an advertisement or other targeted content, you should contact the responsible provider directly. For information about how you can opt out of receiving targeted advertising from many providers, see Choices About How We Use and Disclose Your Information.</div></br>

        <div><strong>How We Use Your Information</strong></div><br/>
        <div>We use personal information collected via our Services for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below. <br/>
<br/>We use the information we collect or receive:</div></br>
        
        <ol class="ullist">
            <li><strong>To facilitate account creation and logon process.</strong> If you choose to link your account with us to a third-party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract.</li>
            <li><strong>To send you marketing and promotional communications.</strong> We and/or our third-party marketing partners may use the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences.</li>
            <li><strong>To send administrative information to you.</strong> We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.</li>
            <li><strong>Fulfill and manage your orders.</strong> We may use your information to fulfill and manage your orders, payments, returns, and exchanges made through the Services.</li>
            <li><strong>To post testimonials.</strong> We may post testimonials regarding our Services that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and testimonial. If you wish to update, or delete your testimonial, please contact us at <a href="mailto:compliance@payalt.com">compliance@payalt.com</a> and be sure to include your name, testimonial location, and contact information.</li>
            <li><strong>Request Feedback.</strong> We may use your information to request feedback and to contact you about your use of our Services.</li>
            <li><strong>To protect our Services.</strong> We may use your information as part of our efforts to keep our Services safe and secure (for example, for fraud monitoring and prevention).</li>
            <li><strong>To enable user-to-user communications.</strong> We may use your information in order to enable user-to-user communications with each user's consent.</li>
            <li><strong>To enforce our terms, conditions and policies for Business Purposes, Legal Reasons and Contractual.</strong></li>
            <li><strong>To respond to legal requests and prevent harm.</strong> If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.</li>
            <li><strong>To manage user accounts.</strong> We may use your information for the purposes of managing our account and keeping it in working order.</li>
            <li><strong>To deliver services to the user.</strong> We may use your information to provide you with the requested service.</li>
            <li><strong>To respond to user inquiries/offer support to users.</strong> We may use your information to respond to your inquiries and solve any potential issues you might have with the use of our Services.</li>
            <li><strong>For other Business Purposes.</strong> We may use your information for other Business Purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Services, products, marketing and your experience. We may use and store this information in aggregated and anonymized form so that it is not associated with individual end users and does not include personal information. We will not use identifiable personal information without your consent.<br/><br/>
    <div>You also may provide information to be published or displayed (hereinafter, "<strong>posted</strong>") on public areas of the Website, or transmitted to other users of the Website or third parties (collectively, "<strong>User Contributions</strong>"). Your User Contributions are posted on and transmitted to others at your own risk. Although we limit access to certain pages/you may set certain privacy settings for such information by logging into your account profile, please be aware that no security measures are perfect or impenetrable.<br/><br/> Additionally, we cannot control the actions of other users of the Website with whom you may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions will not be viewed by unauthorized persons.</div><br/>
            <ul class="ullist">
                <li>In any other way we may describe when you provide the information.</li>
                <li>For any other purpose with your consent.</li>
            </ul>            
            </li>
        </ol></br>
        <div>
We may also use your information to contact you about our own and third-parties’ goods and services that may be of interest to you. If you do not want us to use your information in this way, please adjust your user preferences in your account profile.
<br/><br/>
We may use the information we have collected from you to enable us to display advertisements to our advertisers’ target audiences. Even though we do not disclose your personal information for these purposes without your consent, if you click on or otherwise interact with an advertisement, the advertiser may assume that you meet its target criteria.
</div></br>

        <div><strong>Disclosure of Your Information</strong></div><br/>
        <div>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction. We may disclose personal information that we collect or you provide as described in this privacy policy:</div></br>
        <ul class="ullist">
            <li>To our subsidiaries and affiliates.</li>
            <li>To contractors, service providers, and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.</li>
            <li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of PayAlt’s assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by PayAlt about our Website users is among the assets transferred.</li>
            <li>To third parties to market their products or services to you if you have consented to these disclosures. For more information, see Choices About How We Use and Disclose Your Information.</li>
            <li>For any other purpose disclosed by us when you provide the information.</li>
            <li>With your consent.</li>
            <li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of PayAlt, our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</li>
        </ul><br/>
        <div><strong>European Union Residents: Choices About How We Use and Disclose Your Information</strong></div><br/>
        <div>In some regions (like the European Economic Area), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the right to object to the processing of your personal information. To make such a request, please use email us at <a href="mailto:compliance@payalt.com">compliance@payalt.com</a>. We will consider and act upon any request in accordance with applicable data protection laws. </br></br>
If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. Please note however that this will not affect the lawfulness of the processing before its withdrawal.</br></br>
If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: <a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>.</br></br>
If you have questions or comments about your privacy rights, you may email us at <a href="mailto:compliance@payalt.com">compliance@payalt.com</a>.</div></br>

        <div><strong>Account Information</strong></div><br/>
        <div>If you reside in the European Union you may review or change the information in your account or terminate your account, you can: Log into your account settings and update your user account.  </br></br>
Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</br></br>
<strong>Opting out of email marketing:</strong> You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list – however, we will still need to send you service-related emails that are necessary for the administration and use of your account. To otherwise opt-out, you may: Access your account settings and update preferences.</div><br/>
    
        <div><strong>Non-European Union Residents: Choices About How We Use Your Technology</strong></div><br/>
        <div>We strive to provide you with choices regarding the personal information you provide to us. We have created mechanisms to provide you with the following control over your information:</div><br/>

        <ul class="ullist">
            <li><strong>Tracking Technologies and Advertising.</strong> You can set your browser to refuse all or some browser cookies, or to alert you when cookies are being sent. To learn how you can manage your Flash cookie settings, visit the Flash player settings page on Adobe's <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html">website</a>. If you disable or refuse cookies, please note that some parts of this site may then be inaccessible or not function properly.</li>
            <li><strong>Disclosure of Your Information for Third-Party Advertising.</strong> If you do not want us to share your personal information with unaffiliated or non-agent third parties for promotional purposes, you can opt-out by sending us an email with your request to <a href="mailto:compliance@payalt.com">compliance@payalt.com</a>.</li>
            <li><strong>Promotional Offers from the Company.</strong> If you do not wish to have your email address/contact information used by the Company to promote our own or third parties’ products or services, you can opt-out by checking the relevant box located on the form on which we collect your data (the registration form) or at any other time by sending us an email stating your request to <a href="mailto:compliance@payalt.com">compliance@payalt.com</a>. If we have sent you a promotional email, you may send us a return email asking to be omitted from future email distributions. [This opt out does not apply to information provided to the Company as a result of a product purchase, warranty registration, product service experience or other transactions.]</li>
            <li><strong>Targeted Advertising.</strong> If you do not want us to use information that we collect or that you provide to us to deliver advertisements according to our advertisers’ target-audience preferences, you can opt-out by [OPT-OUT METHOD]. [For this opt-out to function, you must have your browser set to accept all browser cookies.]</li>
        </ul><br/>

        <div>We do not control third parties’ collection or use of your information to serve interest-based advertising. However these third parties may provide you with ways to choose not to have your information collected or used in this way. You can opt out of receiving targeted ads from members of the Network Advertising Initiative ("<strong>NAI</strong>") on the NAI’s <a href="http://www.networkadvertising.org/managing/opt_out.asp">website</a>.<br/><br/>

California residents may have additional personal information rights and choices. Please see Your California Rights for more information.<br/><br/>

Nevada residents who wish to exercise their sale opt-out rights under Nevada Revised Statutes Chapter 603A may submit a request to <a href="mailto:compliance@payalt.com">compliance@payalt.com</a>.</div><br/>

        <div><strong>Accessing and Correcting Your Information</strong></div><br/>
        <div>You can review and change your personal information by logging into the Website and visiting your account profile page. You may also send us an email at <a href="mailto:compliance@payalt.com">compliance@payalt.com</a> to request access to, correct or delete any personal information that you have provided to us. We cannot delete your personal information except by also deleting your user account. We may not accommodate a request to change information if we believe the change would violate any law or legal requirement or cause the information to be incorrect.
<br/><br/>
California residents may have additional personal information rights and choices. Please see Your California Privacy Rights for more information.</div><br/>

        <div><strong>Your California Privacy Rights</strong></div><br/>
        <div>If you are a California resident, California law may provide you with additional rights regarding our use of your personal information. California’s “Shine the Light” law (Civil Code Section § 1798.83) permits users of our App that are California residents to request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an email to <a href="mailto:compliance@payalt.com">compliance@payalt.com</a>.</div><br/>
        
        <div><strong>Data Security</strong></div><br/>
        <div>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. All information you provide to us is stored on our secure servers. Any payment transactions will be encrypted using SSL technology.
<br/><br/>
The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our Website, you are responsible for keeping this password confidential. We ask you not to share your password with anyone. Unfortunately, the transmission of information via the internet is not completely secure. Although we follow appropriate standards to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Website. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Website.</div><br/>

        <div><strong>Changes to Our Privacy Policy</strong></div><br/>
        <div>It is our policy to post any changes we make to our privacy policy on this page with a notice that the privacy policy has been updated on the Website home page. If we make material changes to how we treat our users’ personal information, we will notify you by email to the email address specified in your account. The date the privacy policy was last revised is identified at the top of the page. You are responsible for ensuring we have an up-to-date active and deliverable email address for you, and for periodically visiting our Website and this privacy policy to check for any changes.</div><br/>

        <div><strong>Contact Information</strong></div><br/>
        <div>To ask questions or comment about this privacy policy and our privacy practices, contact us at: <a href="mailto:compliance@payalt.com">compliance@payalt.com</a>.</div><br/>

    </div>
</div>
<style type="text/css">
ul.ullist,ol.ullist{
    line-height: 30px;
}
ul.ullist li,ol.ullist li{
    margin-bottom: 15px;
}
</style>
<% include layout/footer %>