<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <base href="<%=process.env.SERVER_URL%>"/>
    <link rel="icon" href="images/Payalt.ico">
    <link rel="stylesheet" href="css/window/css/font-awesome.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-3.3.1.min.js"></script>    
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="js/float_social/css/contact-buttons.css">
  </head>
  <body>