            <div class="col-md-12 col-sm-12 col-xs-12 padleft0 padright0" id="footer-widget">
                <div class="container">
                    <div class="row col-md-12 col-sm-12 col-xs-12">
                        <div class='pylatfoot-left col-md-3 col-sm-12 col-xs-12'>
                            <div class='col-md-12 col-sm-12 col-xs-12'>Payalt</div>
                            <div class='col-md-12 col-sm-12 col-xs-12'><a class="colorwhite" href="/about">About Payalt</a></div>
                            <div class='col-md-12 col-sm-12 col-xs-12'><a class="colorwhite" href="/faq">Faq</a></div>
                            <div class='col-md-12 col-sm-12 col-xs-12'><a class="colorwhite" href="/contact">Contact</a></div>
                        </div>

                        <div class="txtcenter col-md-6 col-sm-12 col-xs-12 socifoterbttm">
                            <div class='col-md-12 col-sm-12 col-xs-12 fotsoc-head'>Social</div>
                            <a href="mailto:contact@payalt.com" style="margin: 0px 10px;">
                                <img src="../images/updated/mail.png" style="width: 50px;">
                            </a>
                            <a style="margin: 0px 10px;" href="https://twitter.com/payalt_official">
                                <img src="./images/updated/twitter.png" style="width: 50px;">
                            </a>
                            <a style="margin: 0px 10px;" href="https://www.instagram.com/payalt_official/">
                                <img src="./images/updated/instagram.png" style="width: 50px;">
                            </a>
                            <a style="margin: 0px 10px;" href="https://www.facebook.com/payaltofficial/">
                                <img src="./images/updated/facebook.png" style="width: 50px;">
                            </a>
                            <a style="margin: 0px 10px;" href="https://www.linkedin.com/company/payalt">
                                <img src="./images/updated/linkedin.png" style="width: 50px;">
                            </a>
                        </div>

                        <div class='pylatfoot-right col-md-3 col-sm-12 col-xs-12'>
                            <div class='col-md-12 col-sm-12 col-xs-12'>Legal</div>
                            <div class='col-md-12 col-sm-12 col-xs-12'><a class="colorwhite" href="/privacy_policy">Privacy policy</a></div>
                            <div class='col-md-12 col-sm-12 col-xs-12'><a class="colorwhite" href="/terms_conditions">Terms & Conditions</a></div>
                            <div class='col-md-12 col-sm-12 col-xs-12'><a class="colorwhite" href="/legal">Legal</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="share-bar"></div>
            <script src="js/float_social/js/jquery.contact-buttons.js"></script>
            <script src="js/float_social/js/demo.js"></script>
            <script type="text/javascript">
                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                    var div_list = document.querySelectorAll('.shopnow_lnk');
                    if(div_list.length > 0) {
                        div_list.forEach(divs => {
                            divs.style.display = "none";
                        });
                    }
                }
                $(window).scroll(function(){
                    if ($(window).scrollTop() > 0) {
                        $('#headerdiv').addClass('fixed-header');
                        $(".bancontpad").addClass("padtop12emimp");
                    }
                    else {
                        $('#headerdiv').removeClass('fixed-header');
                        $(".bancontpad").removeClass("padtop12emimp");
                    }
                });
                $(document).ready(function(){
                    jQuery('.wrapmenu').adaptiveMenu();
                });
            </script>
            
            <!--Start of Tawk.to Script-->
            <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"), s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5cb413c8d6e05b735b428f1a/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
            </script>
            <!--End of Tawk.to Script-->
            
    </body>
</html>