<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayAlt - Shop online, anytime with Cryptocurrency</title>
    <base href="<%=process.env.SERVER_URL%>"/>
    <link rel="icon" href="images/Payalt.ico">
    <link rel="stylesheet" href="css/window/css/font-awesome.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">   
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/site.js"></script>
    <link href="js/adaptivemenu/css/adaptive-menu.default.css" rel="stylesheet" type="text/css">
    <script src="js/adaptivemenu/js/jquery.adaptive-menu.js"></script>
    <link rel="stylesheet" href="js/float_social/css/contact-buttons.css">
    <style>
        .resmenuhead
        {
            display: none;
        }
        @media screen and (max-width: 1115px)
        {
            .resmenuhead
            {
                width: 100% !important;
                opacity: 1;
                color: #333 !important;
                left: 0 !important;
                box-shadow: 0 8px 6px -6px #333;
                height: 65px !important;
                position: fixed;
                top: 0;
                visibility: visible;
                z-index: 1;
                display: block;
            }
            .responsivenone
            {
                display:none !important;
            }
            .xsshow
            {
                display: block !important;
            }
            /*.adaptive-menu__close::before, .adaptive-menu__close::after {
                background: #333 !important;
            }
            .adaptive-menu ul:first-of-type li a {
                color: #fff !important;
            }
            .adaptive-menu ul:first-of-type li a:hover {
                background: #333 !important;
                color: #fff !important;
                text-decoration: none !important;
            }
            .adaptive-menu ul:first-of-type li {
                background: #55cac2 !important;
                border-bottom: 1px solid #fcfcfc !important;
            }*/
        }
    </style>
  </head>
  <body> 
    <div class="top_section responsivenone">
            <div class="menu_card_bar">
                <a href="<%process.env.SERVER_URL%>">
                    <img class="logo" src="<%=process.env.SERVER_URL%>/images/logo.png">
                </a>
            </div>
            <div class="right_top_butt">
                <% if(typeof sessionval.logged_user_type != 'undefined' && sessionval.logged_user_type == 'admin'){ %>
                    <a href="/transactions" class="tab_righta scroll_white hedrmnus <% if(typeof page != 'undefined' && page == 'transactions'){ %> active <% } %>">Transactions</a>
                    <a href="/user_management" class="tab_righta scroll_white hedrmnus <% if(typeof page != 'undefined' && page == 'user_management'){ %> active <% } %>">User Management</a>
                    <a href="/settings" class="tab_righta scroll_white hedrmnus <% if(typeof page != 'undefined' && page == 'settings'){ %> active <% } %>">Settings</a>
                <% } %>
                <% if(typeof sessionval.logged_user_type != 'undefined' && sessionval.logged_user_type == 'shopper'){ %>
                    <a href="/transactions" class="tab_righta scroll_white hedrmnus <% if(typeof page != 'undefined' && page == 'transactions'){ %> active <% } %>">Transactions</a>
                    <a class="tab_righta scroll_white hedrmnus" href="https://somiworks.cameyo.com/apps/11026488070783/play" style="margin-right: 15px;">Shop Now</a>
                <% } %>
                <a class="tab_righta scroll_white hedrmnus" href="/profile" style="margin-right: 15px;">PROFILE</a>
                <a href="/logout" class="logout_butt scroll_white hedrmnus">LOG OUT</a>
            </div>
        </div>
    <div class="wrapmenu notdisplay xsshow adaptive-menu">
        <a id="close_menu" class="adaptive-menu__close"><span>close</span></a>
        <nav>
            <ul class="nav menu topmenu">
            <% if(typeof sessionval.logged_user_type != 'undefined' && sessionval.logged_user_type == 'admin'){ %>
                <li><a href="/transactions" <% if(typeof page != 'undefined' && page == 'transactions'){ %> class="active" <% } %>>Transactions</a></li>
                <li><a href="/user_management" <% if(typeof page != 'undefined' && page == 'user_management'){ %> class="active" <% } %>>User Management</a></li>
                <li><a href="/settings" <% if(typeof page != 'undefined' && page == 'settings'){ %> class="active" <% } %>>Settings</a></li>
            <% } %>
            <% if(typeof sessionval.logged_user_type != 'undefined' && sessionval.logged_user_type == 'shopper'){ %>
                <li><a href="/transactions" <% if(typeof page != 'undefined' && page == 'transactions'){ %> class="active" <% } %>>Transactions</a></li>
                <li><a href="https://somiworks.cameyo.com/apps/11026488070783/play">Shop Now</a></li>
            <% } %>            
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </nav>
    </div>
    <div class="resmenuhead" style="background: #464646 !important; text-align: center;">
        <a id="open_menu" class="adaptive-menu__open">
            <span></span>
        </a>
        <a href="<%=process.env.SERVER_URL%>">
            <img class="logosty logosty_resp" src="<%=process.env.SERVER_URL%>/images/logo.png">
        </a>
    </div>
    <style type="text/css">
    .hedrmnus{margin-right:20px;}
    </style>
    <script>
        jQuery(document).on("click","#close_menu",function(e){
            e.stopImmediatePropagation();
            jQuery(this).parent().removeClass("adaptive-menu--is-visible");
        });
        jQuery(document).on("click","#open_menu",function(e){
            e.stopImmediatePropagation();
            jQuery(".adaptive-menu").addClass("adaptive-menu--is-visible");
        });
    </script>