# This is a basic workflow to help you get started with Actions
name: Deploy Google App

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out Git repository
        uses: actions/checkout@v1
        
      - name: Initialize Google Cloud SDK
        
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
            version: latest
            service_account_email: ${{ secrets.GCP_SA_EMAIL }}
            service_account_key: ${{ secrets.GCP_SA_KEY }}
            project_id: ${{ secrets.PROJECT_ID }}

           
      - name: Publish app to Google App Engine
      - run: |   
            # This client-secret.json is converted by GCP_SA_KEY.
            gcloud auth activate-service-account ${{ secrets.GCP_SA_EMAIL }} --key-file=client-secret.json
            gcloud config set project ${{ secrets.PROJECT_ID }}
            gcloud -q app deploy app.yaml -v 20200827t143125
